#*
完整显示日志,原Watch template
2008 1 26
*#
#foreach($item in $rows)
<div>
	<h3 class="blogtitle">
		<span class="edit">	${item.get_item("AddTime").ToString("MM月dd日 HH:mm")}
#if ($item.get_item("Userid") == $ChHelper.ChUser.Userid || $ChHelper.ChUser.isAdmin )
<a href="javascript:showEditNote();">编辑</a>
#end
#if ($item.get_item("Userid") == $ChHelper.ChUser.Userid || $ChHelper.ChUser.isAdmin || $item.get_item("level") > 199 )
<a href="javascript:DeleteLogBook($item.get_item("id"),$item.get_item("groupid"));">删除</a>
#end
</span>
		<strong><a href="#">${item.get_item("Title")}</a></strong>
	</h3>
	<div id="showbody" class="text">
${item.get_item("Body")}
	</div>
	<span id="showbutton" style="display: none">
#if( !$isgroup )##groupright begin
#component(ShowLevel with "id=Right" "selected=$item.get_item('ispost')")
#end##groupright end
<input type="button" onclick="EditNote()" value="确认修改" class="subbutton" />
	</span>
	<div class="read">
	阅读 (${item.get_item("ViewCount")})
		<span class="div">|</span>
		<a href="#mycomment" onclick="setfocus();return false;">
		评论</a>
		(<span id="CommentCount">${item.get_item("CommentCount")}</span>)

#if ($isGroup)##PUSH Begin
<span class="div">|</span>
<span id="logpush">推荐(<span id="PushCount$item.get_item("id")">
${item.get_item("PushCount")}
</span>)
<span id="PushCommand">
	#if($item.get_item("isPush")) 
我已推荐过。 
	#else 
<a href="javascript:PushLogBook($item.get_item("id"));">我来推荐！</a> 
	#end
</span></span>
#else
	#if($item.get_item("mylevelingroup")>199)
<span class="div">|</span> 
		#if($item.get_item("ispost")==1)
<a id="notetop" href="javascript:Note_untop();">取消置顶</a>
		#else
<a id="notetop" href="javascript:Note_top();">将本文置顶</a>
		#end
	#end
#end##PUSH end

	</div>
#if($isgroup)##Back begin
<div>返回 <a id="xml_back" href="/Group.aspx?id=${item.get_item("groupid")}&">
${item.get_item("GroupName")}</a></div>
#else
<div>&nbsp;&gt;&gt;返回
<a id="xml_back" href="/User.aspx?userid=${item.get_item("userid")}&">
${item.get_item("name")}的页面
</a></div>
#end##Back end
</div>

<script type="text/javascript">
var $groupid=$item.get_item("groupid");
var $logid=$item.get_item("id");
function ReplyLogBook(Logid){
ReplyReply($item.get_item("userid"),Logid,1);
}</script>
#end
#*
转为vm
2007 10 8 增加了修改时可修改访问权限功能
创建:邹健2007 9
功能:显示一篇日志

特殊id:
	showbody:编辑时显示富文本编辑器
	showbutton:编辑时显示按钮
参数说明:
	ReplyReply(${item.get_item("Userid")},Logid,1);中的1代表是日志
*#