<div id="footer" class="fontlink">
<a href="http://www.eice.com.cn/" target="_blank">什么是CHSNS#</a>
$url.link("客服","%{controller='Services',action='Index'}")
$url.link("关于我们","%{controller='home',action='AboutUs'}")
<a href="http://www.eice.com.cn/%e4%bd%bf%e7%94%a8%e5%8d%8f%e8%ae%ae.ashx">使用协议</a>
<a href="http://www.eice.com.cn/help.ashx" target="_blank">帮助</a>
<a href="http://www.miibeian.gov.cn/" target="_blank">$ChHelper.ChSite.BaseConfig.Number</a>
<span id="copyright"><a href="http://www.eice.com.cn/%e6%88%90%e5%b9%bb%e5%b0%8f%e7%bb%84.ashx">成幻小组</a>
<span class="c">&nbsp;&nbsp;&nbsp;</span>
$ChHelper.ChSite.BaseConfig.CopyRight

</span>
<a href="http://www.eice.com.cn/CHSNS_v_1_22.ashx">CHSNS#1.22</a>
</div>