/*admin后台列表页通用样式*/
body{
color:#000000;
font-size:12px;
}
.main{margin:0}
.adminhead{font-family:Verdana, Helvetica, sans-serif;height:30px;padding:16px;
           background:#efefef;border-bottom:solid 1px #336699;}
/*整体*/
.box{ width:100%; min-width:800px; margin-top:4px;}
.left_right{ margin:0px 10px;}
/*左导航*/
.nav li{list-style-type:none}
.nav ul{padding:5px;margin:0px}
.nav{ background-color:#CCCCCC; width:140px; background:url(images2/bg_4.gif) top right repeat-y; vertical-align:top;}
.navin{position:relative; overflow:hidden; }
.nav .list_1{ width:107px; overflow:hidden;}
.nav .list_1 li{ margin-bottom:16px; padding-left:9px;}
.nav .list_1 li.member1{ font-weight:bold; font-family:Verdana;}
.nav .list_1 li.member2{border-bottom:1px solid #F39DA8;}
.nav .list_1 li.member2 a{ font-weight:400; color:#0033CC; }
.nav .list_1 li.contain{background:url(images2/bg_9.gif) left 5px no-repeat;}
.nav .list_1 li a{ color:#333; font-weight:bold; text-decoration:none;}
.nav .list_1 li a.clicked{ color:#D70002;}
.nav .list_2{ margin-top:10px;}
.nav .list_2 li{ margin-bottom:10px; padding-left:12px; background:url(images2/bg_17.gif) 4px 5px no-repeat;}
.nav .list_2 li a{ font-weight:400;}
.nav .hide{ position:absolute; top:240px; right:2px;}
/*内容部分*/
.content{ padding-left:18px; vertical-align:top;}
.content h2{ font-size:26px; font-weight:bold; font-family:黑体;}
.content h2 a{ font-family:宋体; font-size:14px; margin-left:10px; font-weight:400; text-decoration:underline; vertical-align:middle; text-decoration:none; border-bottom:1px solid #0132CC; padding-bottom:1px;}
.content h2 a.red{ color:#D60000; font-weight:bold; border-bottom:1px solid #D60000;}
.content h2 span{ font-size:12px; float:right; font-weight:400; font-family:宋体; margin-top:-17px;}


/*内容部分中隐藏样式*/
.content .search{ width:auto; background-color:#FEF9F6; margin-top:10px; border:1px solid #F49EAB; padding:5px;}
.content .search select{ width:100px;}
.content .recommend{ width:auto; background-color:#FEF9F6; margin-top:10px; border:1px solid #F49EAB; padding:5px;}
.content .recommend select{ width:100px;}
.content h3{ font-weight:bold; color:#333; position:relative;}
.content h3 a{ width:12px; height:12px; overflow:hidden; display:block; border:1px solid #FF8597; color:#F49EAB; position:absolute; top:0px; right:5px; text-decoration:none; font-size:12px;}

.button_1{padding:1px 6px 1px 6px; *padding:2px 6px 0px 6px;}/*小按钮*/
.button_2{padding:1px 6px 1px 6px; *padding:4px 6px 0px 6px; font-size:14px;}/*大按钮*/
.submit{ background-color:#BADB7C; padding:20px; text-align:center; margin-top:10px;}
h4{ background-color:#DBDBDB; height:29px; margin-top:10px; line-height:29px; padding-left:10px; font-weight:bold;}
.trip_title{ width:100%; margin-left:10px; margin-top:20px;}/*行程标题*/
.trip_title span{ background-color:#D70002; font-weight:bold; color:#FFF; padding:0px 3px;}
.trip_title .a{ width:100px; height:15px; float:right; margin-top:-15px; margin-right:10px; text-align:right;}
div.travel_route{ margin:10px; line-height:23px; border-bottom:1px solid #ddd; padding-bottom:10px;}/*行程信息*/
span.explanation{ color:#666; line-height:16px; font-weight:400; font-family:Verdana;}
.append_box{ margin:10px; border:1px solid #F49EA9; padding:20px; background-color:#FDF9F6;}/*行程信息录入框*/


.table{ width:100%; margin-top:10px;}
.table th{ background-color:#DBDBDB; height:28px; *height:22px; padding:3px; text-align:center; vertical-align:middle; font-weight:bold; border:1px solid #CACACA; border-bottom:none;}
.table td{ border:1px solid #DBDBDB; height:28px; *height:22px; padding:3px; text-align:center; vertical-align:middle; color:#333;}
.table td a{ color:#0132CC; text-decoration:none;}
.table td a:hover{ text-decoration:underline; }