#capturefor(title) 我的小条 #end
#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/msg.css" rel="stylesheet" type="text/css" />
#end
#capturefor(javascript)
<script src="/JavaScript/Client/Common.js" type="text/javascript"></script>
<script src="/WebServices/Message.asmx/js" type="text/javascript"></script>
<script src="/JavaScript/Client/Tabs.js" type="text/javascript"></script>
<script src="/JavaScript/PageSet.js" type="text/javascript"></script>
<script src="/JavaScript/Message.js" type="text/javascript"></script>
#end
#*
*我的小条模板
*#
<form id="aspnetForm">
<div id="toc">
	<ul id="tabs">
		<li id="tabInbox" class="inactivetab">
			<a href="#">收条箱</a>
		</li><li id="tabSent" class="inactivetab">
			<a href="#">已发条</a>
		</li><li id="tabCompose" class="inactivetab">
			<a href="#">写小条</a>
		</li>
		<li id="tabRead" class="inactivetab">
			<a href="#">读取</a>
		</li>
		<li id="Status" class="status"></li>
	</ul>
</div>
<div class="page" id="PageUp"></div>
<div id="chcontent">
	<div id="chcontent_body">
		<div id="chInbox" style="display:none;visibility:hidden;">##收信列表
		</div>
		<div id="chSent" style="display:none;visibility:hidden;">##发信列表
		</div>
		<div id="chCompose" style="display:none;visibility:hidden;">##发送小条
		  <div class="msgbody">
			<h4>
				<label >收件人：</label><a id="Receive_man" href="/User.aspx?userid=${Toid}">${Toname}</a>
			</h4>
			<div>
				<label>标题：</label>
				<input id="Ttitle" style="width:300px" maxlength="200" class="inputtext" />
			</div>
			<div>
			<textarea id="Tbody" cols="70" rows="15" ></textarea>
			</div>
			<div>
				<input type="button" value="发送" onclick="SendMessage();" class="subbutton"  />
				<input type="button" class="subbutton" value="取消" />
			</div>
			<input type="hidden" id="Toid" value="${Toid}" />
			<input type="hidden" id="Toname" value="${Toname}" />
		  </div>
		</div>
		<div id="chRead" style="display:none;visibility:hidden;">
		  <div class="msgbody">
			<h3 id="Message_title"></h3>
			<h4>
				<span id="Message_mode"></span>：<a id="Message_author" href="#"></a>
				<span id="Message_time" class="time"></span>
			</h4>
			<div id="Message_text" class="text"></div>
			<div class="operation">
				<a class="subbutton" id="Message_inshow">回复</a>
				<a class="subbutton" id="Message_back"></a>
				<a class="subbutton" id="Message_delete">删除</a>
				<a class="subbutton" id="Message_up">举报骚扰信件</a>
			</div>
		  </div>
		</div>
	</div>
</div>
</form>
<div class="page" id="PageDown"></div>
<input id="HdPage" type="hidden" value="1" />
<input id="HdCount" type="hidden" value="0" />
<input id="HdEveryPage" type="hidden" value="20" />
<script type="text/javascript">
InitTabP("Inbox");
InitTabP("Sent");
InitTabP("Compose");
InitTabP("Read");
InitTabC(${Tabs});
setTab(${Tabs});
</script>