#capturefor(title) 注册-注册完成 #end
<div id="toc">
	<ul id="tabs">
		<li class="status">注册完成</li>
	</ul>
</div>
<div class="notes">
	恭喜你 $session.get_item("reginfo").get_item(1) ,注册成功了<br />
	您的Id为 $session.get_item("reginfo").get_item(0)<br />
	<a href="/">返回登录</a>
	</div>
#*
完成注册
*#