#capturefor(title) 重新发送验证码 #end
<div id="toc">
	<ul id="tabs">
		<li class="status">重新发送验证码</li>
	</ul>
</div>
<form id="registerForm" action="$url.for("%{action='send'}")" method='post'>

#if($Flash.errors)
<div class="notes">$errors</div>
#end
				<label>
					Email：</label><input type="text" id="account.email" name="account.email" value="$!{account.email}" class="inputtext" tabindex="4" />
				<label>
					密码：</label>
				<input type="password" id="account.password" name="account.password" value="$!{account.password}" class="inputtext" maxlength="32" tabindex="6" />
	<input type="submit" value="发送" class="subbutton" tabindex="20" />
	
</form>
#*
完成注册 
*#