#capturefor(title) 注册-注册账号 #end
<script type="text/javascript">
var IsRegValition=function(){
	if(!(validate_regex("account.email",/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/)
	&&validate_equals("account.email","reUseremail")
	&&validate_regex("account.password",/[\w\W]{4,32}/)
	&&validate_equals("account.password","rePassword")
	&&validate_empty("account.name"))) return false;
	if($get("reg_check_id").checked){//打算添密码保护的情况下
		if(!(validate_empty('account.question')
		&&validate_empty("account.answer"))) return false;
	}else{
	$v("account.question","");
	$get("account.answer").value="";
	}
	return true;
};
</script>
<div id="toc">
	<ul id="tabs">
		<li class="status">第二步 - 注册账号</li>
	</ul>
</div>
<form id="registerForm" action="$url.for("%{action='startstep-save'}")" method='post' onsubmit="return IsRegValition();" >

#if($Flash.errors)
<div class="notes">$errors</div>
#end
	<fieldset>
		<legend>Email (登录时使用)</legend>
		<ul>
			<li>
				<label>
					Email：</label>
				<input type="text" id="account.email" name="account.email" value="$!{account.email}" class="inputtext" tabindex="4" />
				- 例如：abc@126.com <span id="account.emailmsg" style="visibility: hidden">请填写正确邮箱</span></li>
			<li>
				<label>
					确认Email：</label>
				<input type="text" id="reUseremail" value="$!{account.email}" class="inputtext" tabindex="5" />
				- 请输入上面的EMAIL地址 <span id="reUseremailmsg" style="visibility: hidden">请确认两次Email一致</span>
			</li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>密码 (登录时使用)</legend>
		<ul>
			<li>
				<label>
					密码：</label>
				<input type="password" id="account.password" name="account.password" value="$!{account.password}" class="inputtext" maxlength="32" tabindex="6" />
				- 由6-20字母或数字组成 <span id="account.passwordmsg" style="visibility: hidden">密码必须由6-20个字符组成</span></li>
			<li>
				<label>
					确认密码：</label>
				<input type="password" id="rePassword" value="$!{account.password}" class="inputtext" maxlength="32" tabindex="7" />
				- 请在输入一遍 <span id="rePasswordmsg" style="visibility: hidden">请确认两次密码一致</span></li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>基本信息(确认身份时使用)</legend>
		<ul>
			<li>
				<label>
					姓名：</label>
				<input type="text" id="account.name" class="inputtext" name="account.name" value="$!{account.name}" tabindex="8" maxlength="12" />
				- 请填写您的真实姓名以便审核通过
				<span id="account.namemsg" style="visibility: hidden">请填写您的姓名</span>
				<input type="hidden" name="profile.field" value="255" />
			</li>
				#*<li>
				<label>
					我是：</label>
			<select size="1" name="profile.field">
				<option value="1" selected="selected">在校大学生</option>
<option value="4">已工作</option>
				<option value="2">高中</option>
				<option value="255">其它</option>-->
				</select>
			</li>*#
		</ul>
	</fieldset>
	
	<fieldset>
		<legend>密码保护 (找回密码时使用)[选填项]<input type="checkbox" onclick="this.checked?showLayer('reg_port_id'):hideLayer('reg_port_id');"
			title="选填项" tabindex="9" id="reg_check_id" /></legend>
		<ul id="reg_port_id" style="display: none">
			<li>
				<label>
					问题：</label>
				<input type="text" id="account.question" name="account.question" value="$!{account.question}" class="inputtext" maxlength="32" tabindex="9" />
				- 请填写密码保护问题 <span id="account.questionmsg" style="visibility: hidden">请填写回答</span></li>
			<li>
				<label>
					回答：</label>
				<input type="text" id="account.answer" name="account.answer" value="$!{account.answer}" class="inputtext" maxlength="32" tabindex="10" />
				- 请填写密码保护回答 <span id="account.answermsg" style="visibility: hidden">请填写问题</span></li>
		</ul>
	</fieldset>
	<ul>
		<li><span class="submit">
			<input type="button" value="上一步" class="subbutton" tabindex="20" onclick="location='$url.for("%{action='$WizardHelper.PreviousStepName'}")'"/>
			<input type="submit" value="下一步" class="subbutton" tabindex="20" />
		</span></li>
	</ul>
<div id="registratormsg">
</div>
</form>
<script type="text/javascript">
setfocus("Useremail");
</script>

#* 基本信息 *#
