#capturefor(title) 风格管理 #end
#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/main.css" rel="stylesheet" type="text/css" />
#end

#foreach($item in $StringHelper.Split($ChHelper.ChSite.BaseConfig.Stylelist,'|'))
#beforeall
<div><ul>
#before
<li>
#each
风格名称:$item<br />
<img src="${ChHelper.ChSite.BaseConfig.Path}Style/${item}/skin.gif" />
#after
</li>
#afterall
</ul></div>
#nodata
没有风格
#end
<form action="" method="post">
		<label>您添加Style的文件夹名</label>
		<input type="text" name="style" value="" />
<input type="submit" value="添加" />
</form>