#capturefor(title) 公告 #end
<form action="" method="post">
	<fieldset title="公告">
		<legend>公告</legend>
		<label>内容</label>
		<textarea type="text" name="data.body"
		style="width:500px:height:160px" rows="5" cols="50" >#if($data.body)${data.body}#end</textarea>

		
		<label>是否显示</label>
		$FormHelper.CheckboxField("data.IsShow","%{value=$!{data.IsShow},trueValue='true', falseValue='false'}")
		<br />
	</fieldset>
	
	<input type="submit" value="更新内容" />
</form>