<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
      <title> $title - $ChHelper.ChSite.BaseConfig.Title</title>
<script type="text/javascript"></script>
<link href="${ChHelper.ChSite.StylePath}/master.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/JavaScript/Framework.js"></script>
<script type="text/javascript" src="/WebServices/PageMethods.asmx/js"></script>
<script src="/WebServices/Identity.asmx/js" type="text/javascript"></script>
$!css
$!javascript
#if($ChHelper.ChUser.isAdmin)
<script src="/JavaScript/Adminuser.js" type="text/javascript"></script>
#end
	</head>
	<body>
$html.Hidden("Hduserid", $session.get_item("userid"))
				<div id="header"></div>
				<div id="container">
					<div id="intro">
						<div id="pageHeader">
							<div id="publicmenu" class="mymenu">
							#parse( "Shared/master-publicmenu.vm" )
							</div>
							<div class="secondlink">
							##parse("Shared/master-utility.vm")
							</div>
						</div>
					</div>
					<div id="content">
						<div id="pcontent" style="height: 100%">
							$childContent
						</div>
					</div>
##parse("Shared/master-footer.vm")##Footer部分
					<div id="linkList">
						<div id="linkList2">
						##parse("Shared/master-mymenu.vm")
						</div>
#if($ChHelper.ChSite.Publish.IsShow)
<div id="master-publish">
$ChHelper.ChSite.Publish.Body
</div>
#end
						<div id="ad" style="padding-top:20px">
						#component(ad)
						</div></div>
				</div>
				<div id="extendDiv1"><span></span></div><div id="extendDiv2"><span></span></div><div id="extendDiv3">
					<span></span></div><div id="extendDiv4"><span></span></div><div id="extendDiv5"><span></span>
				</div><div id="extendDiv6"><span></span></div>
		<script type="text/javascript">
			$!endjavascript
		</script>
	</body>
</html>

