.vlist{float:left; border:1px solid #ccc; padding:10px; background-color:#f7f7f7; width:460px;}
.vlist .vtext{ float:left; margin:0 0 0 10px; width:300px;}
.vlist .vtext h4 a{ float:right; display:inline; color:#3b5999;}
.vlist .video{ float:left;}
.vlist .vicon{ background:url('images/bg_icon.png') no-repeat 0 -2240px; width:20px; float:left;}
.vmedia{ margin:10px 0 10px 0;}
.vmain{ width:480px; float:left; margin-bottom:10px;}
.vinputpart{ float:right; width:130px; margin-top:15px;margin-bottom:10px;}
.vinputpart li{ list-style:none;}
.vinputpart h4{color:#333; padding:0 5px; padding-top:3px; border-bottom:solid 1px #6d84b4;}
.vinputpart .subbutton{ width:60px;}
.vinputpart label{ color:#3b5999;}
.vinputpart .discription{ color:#444;}
.vinputpart .discription h5{ color:#3b5999;}
.vinputpart textarea{ width:130px; height:60px;}s
.vinputpart .select{ width:135px;}
.vinputpart .select option{ padding-left:10px;}
.vinputpart .vclass a{ margin:8px 2px;}
.sbox{ margin-bottom:10px;}

