<div class="notes">
	[本页选填] 以下信息，可在<a href="/setting.aspx">账号信息</a>中设置用户阅读权限。
</div>
<h4>联系方式</h4>
<div class="required">
	<label for="gender">
		<em>*</em>可见度：</label>
	<div style="padding-left:160px">
<span id="contact_slider_BoundControl"></span><input type="text" value="$Source.get_item("ContactInfoShowLevel")" id="contact_slider"/>
    </div>
</div>
<div class="required">
	<label for="Telphone">固定电话：</label>
	<input type="text" id="Telphone" value="$Source.get_item("Telphone")"/>
	- 例:0454-1234567
</div>
<div class="required">
	<label for="Mobiephone">移动电话：</label>
	<input type="text" id="Mobiephone" value="$Source.get_item("Mobiephone")" />
</div>
<div class="required">
	<label for="Qq">QQ：</label>
	<input type="text" id="Qq" value="$Source.get_item("Qq")" />
</div>
<div class="required">
	<label for="Msn">Msn：</label>
	<input type="text" id="Msn" value="$Source.get_item("Msn")" />
</div>
<div class="required">
	<label for="Website">我的网站：</label>
	<input type="text" id="Website" value="$Source.get_item("Website")" /></div>
<div class="required">
	<label for="istellme">发送：</label>
	<input type="text" id="Website" value="$Source.get_item("Website")" /></div>

<div class="actions">
	<input class="subbutton" type="button" value="保存修改" onclick="SubmitInfo('contact');" />
</div>