@using CHSNS.Models
@using CHSNS.Wiki
@model WikiVersion
    <div id="entryContent">
        <div>
            <div style="float: right">
                <%if (User.IsInRole("Admin"))
                  { %>
                操作：
                <%=Html.ActionLink("编辑", "Edit", new { id = entry.Id })%>
                <%=Html.ActionLink("新建", "Edit", "Entry")%>
                <%} %>
            </div>
            @if (Model.Wiki.IsTitleDisplay)
              {
            <h2>
                @Model.Title</h2>
            
                }</div>
        <div class="body">
            <p>
                @WikiEngine.Explain( Model.Description)</p>
        </div>
    </div>
    <div id="entryTools">
        <p>
            <%=Html.ActionLink("Version", "Historylist", new { id = entry.Id })%>
            <span>(<%=entry.EditCount%>)</span>
        </p>
        <%if (ext.Tags != null && ext.Tags.Count > 0)
          {  %>
        <ul>
            <li><span>标签：</span><%=string.Join(",", (ext.Tags??new List<string>()).ToArray())%>
            </li>
        </ul>
        <%} %>
    </div>
