<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/CHSNSDB.csdl|res://*/CHSNSDB.ssdl|res://*/CHSNSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=CHSNS.Database_DB_a78b0e4e-b1b7-4417-8acf-2d3bac37a190;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CHSNS.Models.Properties.Settings.CHSNS_Database_DB_a78b0e4e_b1b7_4417_8acf_2d3bac37a190ConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=CHSNS.Database_DB_a78b0e4e-b1b7-4417-8acf-2d3bac37a190;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CHSNS.Models.Properties.Settings.CHSNS_Database_DB_0d1a7df4_999c_4ef4_8074_83a3fe2a0ffdConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=CHSNS.Database_DB_0d1a7df4-999c-4ef4-8074-83a3fe2a0ffd;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>