<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  <add name="CHSNSDBEntities" connectionString="metadata=res://*/CHSNSDB.csdl|res://*/CHSNSDB.ssdl|res://*/CHSNSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=sq_menglei;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>