#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/invite.css" rel="stylesheet" type="text/css" />
#end

#capturefor(javascript) 
    <script src="/WebServices/Invite.asmx/js" type="text/javascript"></script>
    <script src="/Scripts/Invite.js"  type="text/javascript"></script>
#end

#capturefor(title) 找回密码 #end

	<div class="pwresetmain">
		
		<div>
			忘了您的密码吗?请输入您的Email.我们将自动发信到您的邮箱,然后按照邮件提示重置您的密码!
		</div>
		<h2> 第1步.获取验证码</h2>
		<div>
				<label>帐号即您注册时的Email:</label><input id="sp_email" type="text" />
			<div>
				<input type="button" id="sp_sub" value="发验证码到我的邮箱" onclick="setPassword();" />
			</div>
			
		</div>
	</div>
	<script type="text/javascript">
	function setPassword(){
		if(isEmpty("sp_email")){
		alertEx("请填写邮箱");
		return;
		}
		$get("sp_sub").disabled=true;
		ChAlumna.Identity.GetCode($get('sp_email').value,
		function(r){
			if(r){
				alertEx("已经将验证码发到您的邮箱。",'location="/SetPassword.aspx";');
			}else{
				alertEx("您输入的信息不正确，请查实后再试");
				$get("sp_sub").disabled=false;
			}
		},onfail);
	}
	</script>