#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/invite.css" rel="stylesheet" type="text/css" />
#end
#capturefor(javascript) 
    <script src="/WebServices/Invite.asmx/js" type="text/javascript"></script>
    <script src="/Scripts/Invite.js"  type="text/javascript"></script>
#end
#capturefor(title) 邀请 #end

<div class="invitebody">

<div class="inviteright">
<h4>邀请</h4>
</div>

<div class="invitemain">
<div id="inviteLink">
	<h4>
		通过链接邀请</h4>
	<ul>
		<li>您可以将我们的地址通过QQ、MSN发送给朋友</li>
		<li>
			<label>
				我们的网址：</label><br />
				
			<input class="inputtext" value="$ChHelper.ChSite.BaseConfig.Url" type="text" readonly="readonly" />
		</li>
	</ul>
</div>
<div id="inviteMail">
	<h4>通过Email邀请</h4>
	<ul>
		
				<li>
			<label>
				标  题：</label>
			$ChHelper.CH.Context.User.Username 邀请你加入 </li>
		<li>
			<label>发 信 人：</label>
			$ChHelper.CH.Context.User.Username</li>

		<li>
			<label>收 信 人 Email：</label><br />
			<input id="email" type="text" class="inputtext" />
		</li>
		<li>
			<label>
				手动填写邀请信内容：</label><br />
			<textarea class="textarea" id="mailtext"></textarea>
		</li>
		<li>
			<input class="subbutton" value="发送邀请" type="button" onclick="SendEmail();" />
		</li>
	
	</ul>


</div>
</div>

</div>