#MyApplication li{padding-left:10px;}
#AppList li{padding-left:20px;}
#App_mynote,#Applist_App_mynote,.icon_note{
   background:url(images/bg_icon.png) no-repeat 0 -2280px;
}

#App_photos,#Applist_App_photos,.icon_album{
   background:url(images/bg_icon.png) no-repeat 0 -1680px;  
}
#App_myfriend,#Applist_App_myfriend{
   background:url(images/bg_icon.png) no-repeat 0 -1360px; }

#App_myuniversityclass,#Applist_App_myuniversityclass{
   background:url(images/bg_icon.png) no-repeat -4px -920px;}

#App_mygroup,#Applist_App_mygroup,.icon_group,.icon_groupuser{
   background:url(images/bg_icon.png) no-repeat -3px 0;
}
#App_supernote,#Applist_App_supernote,.icon_supernote{
   background:url(images/bg_icon.png) no-repeat 1px -2240px;
}
#App_train,#Applist_App_train{
   background:url(images/bg_icon.png) no-repeat 1px -280px;
}
.icon_showtext{
background:url(images/bg_icon.png) no-repeat 0 -1400px;
}
.padding20{padding-left:20px;}
#Profile_Event li{
 padding-left:20px;
}
.icon_close,.icon_close:hover{
	font-size:10px;
	text-decoration:none;
	background:url(images/bg_icon.png) no-repeat -40px -640px;
	width:20px;
	height:20px;
}


/*getpassword 密码找回*/
.pwresetmain{ text-align:center; margin:30px 0;}
.pwresetmain div{ margin:10px 0;}

.pwresetmain .pwtext p{ text-align:right; margin-right:230px; margin-top:10px;}
