#if ($user.get_item("isstar"))
<a href="#" title="实名用户" id="Profile_Isstar">&nbsp;&nbsp;&nbsp;</a>
	#if ($ChHelper.ChUser.isAdmin)
<a href="javascript:Admin_Isstar_Remove($Ownerid);">置为非实名</a>
	#end
#else
	#if ($ChHelper.ChUser.isAdmin)
<a href="javascript:Admin_Isstar_Add($Ownerid);">置为实名</a>
	#end
#end