#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/Reply.css" rel="stylesheet" type="text/css" />
<link href="${ChHelper.ChSite.StylePath}/mypage.css" rel="stylesheet" type="text/css" />
<link href="${ChHelper.ChSite.StylePath}/home.css" rel="stylesheet" type="text/css" />
<link href="${ChHelper.ChSite.StylePath}/friend.css" rel="stylesheet" type="text/css" />
	#if($user && $user.get_item("IsMagicBox") && !$ChHelper.User.isAdmin)
<style>$user.get_item("MagicBox")</style>
	#end
#end
#capturefor(javascript)
<script src="/WebServices/Profile.asmx/js" type="text/javascript"></script>
<script src="/JavaScript/Profile.js" type="text/javascript"></script>
<script src="/JavaScript/Reply.js" type="text/javascript"></script>
<script src="/JavaScript/Friend.js" type="text/javascript"></script>
<script src="/JavaScript/LogBook.js" type="text/javascript"></script>
#end
#capturefor(title)
#if($user) $user.get_item("name") #end
的页面 
#end
#if($noRight||$noExists)
	#if($noRight)
#parse( "$siteroot/user/index-noRight.vm" )
	#else
	<div class="notes">
		#if($Ownerid==$ChHelper.ChUser.Userid)
您尚未设置个人自信,请点击 [设置]->[基本设置] 进行完善
		#else
该用户信息不存在
		#end
		</div>
	#end
#else

#macro(EditInfo $id)
	#if($Ownerid==$ChHelper.ChUser.Userid)
<a href="/EditMyInfo.aspx?mode=$id" class="edit">[编辑]</a>
	#end
#end
<div id="userUpdates">
<div id="userStatus">
        <div class="mypage_name"><h2>$user.get_item("name")
#parse( "$siteroot/user/index-isstar.vm" )
		</h2></div>#*实名*#
		<div class="mypage_sta">
##<状态>
#parse( "$siteroot/user/index-mystatus.vm" )
		</div>
</div>
<div id="userAccount">
	<div class="box" id="UserInformation">
        <div id="Profile_Accordion">
##<滑动显示用户信息>
#parse( "$siteroot/user/index-account.vm" )##account
#parse( "$siteroot/user/index-school.vm" )	##school
#parse( "$siteroot/user/index-contact.vm" )	##contact
#parse( "$siteroot/user/index-personal.vm" )##personal
		</div>
<script type="text/javascript">
new Accordian().Show('Profile_Accordion',3,'accordionHeaderSelected');
</script>
		<div>
#parse( "$siteroot/user/index-event.vm" )##event
		</div>
#if ($user.get_item("IsMagicBox"))
	#if($Ownerid==$ChHelper.ChUser.Userid)##是自己的话
#parse( "$siteroot/user/EmptyMagicBox.vm" )
	#end
#end

	</div>
</div>
	<div class="box" id="userBlog">
		<h3>$user.get_item("name")的日志</h3>
		<div class="boxcont">
			<ol id="blog">
##<日志>
#component(NoteList with "source=$log1source" "template=First")
#component(NoteList with "source=$log2source" "template=Second")
</ol>
		</div>
		<p class="more">
#if($Ownerid==$ChHelper.ChUser.Userid)##是自己的话
<a href="/Notebook.aspx?mode=write">写新日志</a>
#end
<a href="/Notebook.aspx?userid=$Ownerid">所有日志</a>
		</p>
	</div>
		<div class="box" id="userTalk">
			<h3>
				$user.get_item("name")
				的留言板</h3>
			<div class="boxcont">
				<div id="leaveWordForm">
					<p id="starttalk">
						<input id="starttalkBtn" class="subbutton" value="我要留言" onclick="iwillReply();" type="button" />
						<span id="ReplyMsg"></span>
					</p>
					<div id="starttalkForm" style="display: none;">
						<p>
							<input id="Bup" type="button" value="留言" onclick="ReplyReply($Ownerid);" class="subbutton"
								tabindex="2" />
							<span class="discription">(每条最多2000字)</span>
							<input value="取消" class="inputbutton" onclick="cancelLeaveWord();" tabindex="3" type="button" />
						</p>
						<textarea id="TBody" cols="70" rows="7" onkeydown="CtrlEnterReplyUser($Ownerid,event);" tabindex="1" class="cmtbody"></textarea>
					</div>
				</div>

#component(CommentList with "type=0" "Ownerid=$Ownerid")
			</div>
			
			
			<p class="more">
				<a href="/ReplyList.aspx?userid=$Ownerid">所有留言</a></p>
		</div>
	</div>
	
<div id="userRelations">
	<div class="box" id="userInfo">
	<div id="userPicture">
		<div id="userFace">
			<ul>
				<li><a href="#$Ownerid">
#if($user.get_item("Relation") >= $user.get_item("FaceShowLevel") || $ChHelper.ChUser.isAdmin)
<img src="$ChHelper.Path.GetFace_Big($Ownerid)" alt="$user.get_item("name")" />
#else
<img src="$ChHelper.Path.GetFace_Big(0)" alt="$user.get_item("name")" />				
#end
				</a></li>
			</ul>
		</div>
	</div>
#parse( "$siteroot/user/index-Myactions.vm" )##Myactions
	</div>
	<div class="box">
		<h3>用户相关</h3>
		<div class="mypadding">
		<a href="/SuperNote.aspx?userid=$Ownerid">视频</a>
		<a href="/NoteBook.aspx?userid=$Ownerid">日志</a>
        <a href="/Photos.aspx?userid=$Ownerid">相册</a>
        </div>
	</div>
	<div id="userVisitor" class="box">
	<div  id="userViewer">
		<h3>最近访问<span class="stat">(共<span class="count">$user.get_item("ViewCount")</span>人看过)</span></h3>
#component(ViewList with "type=0" "everyrow=3" "ownerid=$Ownerid")
	</div>
	</div>
	<div class="box" id="userFriend">
		<h3>$user.get_item("name")最近登录的好友</h3>
#component(ViewList with "type=2" "everyrow=3" "ownerid=$Ownerid")
		<span class="more"><a href="/friend.aspx?userid=$Ownerid">more</a></span>
	</div>
	<div class="box"><h3>$user.get_item("name")加入的群</h3>
		<div class="mypadding">
##<群的列表>
#component(GroupList with "type=0" "Everypage=100" "Ownerid=$Ownerid" "Template=ProfileLink")
		</div>
	</div>
</div>
<script type="text/javascript">
ShoworHide("userBlog","blog");
</script>
#end