#if($user.get_item("Relation") >= $user.get_item("PersonalInfoShowLevel") || $ChHelper.ChUser.isAdmin)
	#macro(ShowPersonal $title $content $type)
		#if($content && $content.Length>1)
			#set( $text = $PersonalHelper.TrimLast($content) )
<li class="userProfileItemValue"><span>$title：</span>
			#foreach($textitem in $String.Split($text,","))
			#each
<a href="/Search.aspx?action=Personal&${type}=${url.UrlEncode( $textitem )}&University=${Url.UrlEncode( $user.get_item("University") )}&">$textitem</a>
			#after
			&nbsp;
			#end
</li>
		#end
					##builder.Append(" • ");
	#end
<div class="accordionHeader" id="personal-header">个人信息 Interests</div>
<div id="personal-content" class="accordionContent">	
#EditInfo( "PersonalInfo" )
	<ul id="chPersonalInfo">
#set( $lovelike = $user.get_item("lovelike") )
#set( $lovebook = $user.get_item("lovebook") )
#set( $lovemusic = $user.get_item("lovemusic") )
#set( $lovemovie = $user.get_item("lovemovie") )
#set( $lovecomic = $user.get_item("lovecomic") )
#set( $lovesports = $user.get_item("lovesports") )
#set( $joinsociety = $user.get_item("joinsociety") )
#ShowPersonal("兴趣爱好" $lovelike "lovelike")
#ShowPersonal("喜欢书籍" $lovebook "lovebook")
#ShowPersonal("喜欢音乐" $lovemusic "lovemusic")
#ShowPersonal("喜欢电影" $lovemovie "lovemovie")
#ShowPersonal("喜欢动漫" $lovecomic "lovecomic")
#ShowPersonal("喜欢运动" $lovesports "lovesports")
#ShowPersonal("加入社团" $joinsociety "joinsociety")
	</ul>
</div>
#end