#if($user.get_item("Relation") >= $user.get_item("ContactInfoShowLevel") || $ChHelper.ChUser.isAdmin)
	#macro(ShowContact $title $content)
		#if($content && $content!="")
	<li><span>$title：</span><span>$content</span></li>
		#end
	#end
<div class="accordionHeader" id="contact-header">联系方式 Contacts</div>
<div id="contact-content" class="accordionContent">
#EditInfo( "Contact" )
	<ul id="chContactInfo">
##<利用ShowContact宏>
#set( $qq = $user.get_item("QQ") )
#set( $telphone = $user.get_item("TelPhone") )
#set( $uc = $user.get_item("UC") )
#set( $NeteasePop = $user.get_item("NeteasePop") )
#set( $Mobiephone = $user.get_item("Mobiephone") )
#set( $msn = $user.get_item("msn") )
#set( $WebSite = $user.get_item("WebSite") )
#ShowContact( "Ｑ　　Ｑ" $qq )
#ShowContact( "固定电话" $telphone )
#ShowContact( "Ｕ　　Ｃ" $uc )
#ShowContact( "网易泡泡" $NeteasePop )
#ShowContact( "手　　机" $Mobiephone )
#ShowContact( "ＭＳＮ　" $msn )
#ShowContact( "网　　站" $WebSite )
##ShowContact("淘宝旺旺", Eval("WangWang"))
##bstr.Append(ShowContact("Ｑ　　Ｑ", _DataRow["QQ"]));
	</ul>
</div>
#end