<ul id="userActions">##<显示相关的功能>
#if($user.get_item("Relation")==200)
<li><a href="/EditMyInfo.aspx?mode=upload">更换头像</a></li>
<li><a href="/EditMyInfo.aspx">编辑我的资料</a></li>
<li><a href="/EditMyInfo.aspx?mode=magicbox">编辑我魔法盒</a></li>
#elseif($user.get_item("Relation")==150)

<li><a href="/Message.aspx?mode=compose&ToId=$Ownerid&Toname=$user.get_item("Name")&">发小条</a></li>
<li><a href="javascript:DeleteFriend($Ownerid)">解除好友关系</a></li>
#else##0

<li><a href="/Message.aspx?mode=compose&ToId=$Ownerid&Toname=$user.get_item("Name")&">发小条</a></li>
<li><a href="javascript:AddFriend($Ownerid)">加为好友</a></li>
#end
</ul>