#picturenow { float:left; width:202px;}
#picturenow img { width:200px; border:1px solid #d8dfea; background:#fff;}
#picturenow h3, #pictureinfuture h3 { margin:10px 0; border-bottom:1px solid #d8dfea; color:#3b5998;}
#pictureinfuture { float:right; width:384px;}

#passwordForm{ padding-top:20px;}