
#foreach($item in $Blogs)
<h3><a href="/Note.aspx?id=${item.id}&">${item.title}</a></h3>
<div class="text">
$String.CleatHtml(${item.body})
<a href="/Note.aspx?id=${item.id}">阅读全文</a>
</div>
<div class="subinfo">
${item.addtime}
作者: <a href="/User.aspx?userid=#if($userid)$userid#else$item.userid#end">#if($blog)$blog.WriteName#else$item.WriteName#end</a>
<a href="/Note.aspx?id=${item.id}&#mycomment">【评论:${item.CommentCount}】</a> 阅读:【${item.ViewCount}】
</div>
#end