#capturefor(title) 广告 #end

#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/main.css" rel="stylesheet" type="text/css" />
#end

<div class="admain">
<div class="adtop">&nbsp;
</div>
<div class="adbody">
<h4 class="adtitle">注册佳木斯大学校友录赢肯德基VIP活动 </h4>

<h4>奖励办法：</h4>
    <ul>
        <li>1、班级创始人：创建所在班级并且有10名实名用户的加入即可获得KFC的VIP会员卡</li>
        <li>2、积分兑换：每100积分兑换一张VIP。注：用户初始积分为50.（限实名用户）</li>
   </ul> 
<h4>如何成为实名用户：</h4>
    <ul>
        <li>第一步：注册并完善个人信息。</li>
        <li>第二步：上传个人头像，创建或加入个人班级。</li>
        <li>第三步：等待审核通过，成为实名用户。</li>
   </ul> 
<h4>如何获得积分：</h4>
<p>登陆，发帖，等功能都可以增加自己的积分。</p>

<h4>活动对象：</h4>
<p>佳木斯大学在校生</p>
<h4>活动截至时间：</h4>
<p>另行通知</p>
<h4>特别鸣谢：</h4>
<p>感谢肯德基佳木斯百大餐厅对本次活动的大力支持。</p>
<h4>注意事项：</h4>
<ul>
<li>1、每人只能获得一张VIP卡。</li>
<li>2、奖品的发放将以用户填入的个人信息和联系方式为准。</li>
<li>3、奖品发放请关注本站最新公布信息。</li>
<li>4、以上活动最终解释权归成幻小组所有。</li>

</ul>
<div class="chs">成幻小组 2007年11月30日</div>
</div>
<div class="adfoot">&nbsp;
</div>
</div>