#if($rows.count<1)
			#if($ChHelper.ChUser.Userid==$Ownerid)
<li style="width:100%" class="notes">您还没上传照片 , Show出你自己吧
<input type="button" onclick="ShowUpload();" value="Go-&gt;" class="subbutton" />
</li>
			#else
<li style="width:100%" class="notes">
相册内没有照片,或您没有权限查看这些照片
</li>
			#end
#else
    #foreach($photo in $rows)
<li id="Photo_li$photo.get_item("id")">
<a href="javascript:showPic('$ChHelper.Path.GetPhoto($Ownerid,$photo.get_item("path"))');">
<img src="$ChHelper.Path.GetThumbPhoto($Ownerid,$photo.get_item("path"))" alt="$photo.get_item("Photoname") at $photo.get_item("Addtime").ToString("yy年MM月dd日")" style="max-width: 130px;" /></a>
<div class="pedit">#if($ChHelper.ChUser.Userid==$Ownerid)
<a href="javascript:Photo_Cover($photo.get_item("id"));">设为封皮</a>
<a href="javascript:DeletePhoto($photo.get_item("id"),'$ChHelper.Path.GetPhoto($Ownerid,$photo.get_item("path"))');">删除</a>
	    #end</div>
</li>
    #end
#end
