#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/group.css" rel="stylesheet" type="text/css" />
#end
#capturefor(javascript)
<script src="/JavaScript/PageSet.js" type="text/javascript"></script>
<script src="/WebServices/NoteBook.asmx/js" type="text/javascript"></script>
<script src="/JavaScript/Editor.js" type="text/javascript"></script>
<script src="/JavaScript/GroupUser.js" type="text/javascript"></script>
<script src="/JavaScript/LogBook.js" type="text/javascript"></script>
<script src="/Editor/fckeditor.js" type="text/javascript"></script>
#end
#capturefor(title) $group.Groupname[群] #end

#if(!$group || $group.id==0 )
<div class="notes">您所访问的群不存在</div>
#else
<div class="groupFirstly">
	<div>
		<div id="groupPicture">
			<img src="$ChHelper.Path.GetGroupImg($group.id)" alt="css" />
		</div>
		<ul class="adminActions">
#if ($user.Level>199 || $ChHelper.ChUser.isAdmin) ##//管理员 / 群主
<li><a href="/ManageGroup.aspx?id=$group.id&">管理员工具箱</a></li>
#end
#if ($user.Level == 1)##//普通会员
<li><a href="javascript:ApplyAdmin($group.id)">申请做管理员</a></li>
#end
#if ($user.Level == 255) ##{ //群主
			#if ($group.UserCount <= 1)
<li><a href="javascript:DeleteGroup($group.id);">删除本群</a></li>
			#end
#end
#if ($user.Level > 0 && $user.Level < 255) ##{//成员和管理员
<li><a href="javascript:Leave($group.id)">退出</a></li>
#end
#if ($user.Level != 0) ##{//是群成员
<li><a href="/GroupList.aspx?class=1&">班级导航</a></li>
<li><a href="/Invite.aspx?id=$group.id&">邀请朋友加入</a></li>
	#if ($user.IsRss)
<li><a id="RssTake" href="javascript:Takeout($group.id);">取消订阅</a></li>
	#else
<li><a id="RssTake" href="javascript:Takein($group.id);">订阅本群</a></li>
	#end
#end
#if ($user.Level == 0 && $group.Joinlevel < 8) ##不是成员且，可自行申请加入
<li><a href="javascript:Joinin($group.id);">加入本群</a></li>
#end
		</ul>
	</div>
	<div>
		<ul>
		    <li>&nbsp;</li>
			<li>群管理员：
			#foreach ($item  in $adminRows) 
<li><a href="/User.aspx?userid=$item.userid">$item.name</a></li>
			#end
			
			</li>
			<li>&nbsp;</li>
#if ($group.GroupClass == 1)##班级的话呢...
<li>学校：$ChHelper.DataCache.University(${group.Other0})</li>
<li>学院：$ChHelper.DataCache.Xueyuan(${group.Other0},${group.Other1})</li>
<li>年级：${group.Num0}级</li>
<li>班级人数：$group.Usercount人</li>
<li>&nbsp;</li>
#end
		</ul>
	</div>
	<div class="box" id="Div1">
	<h4>群成员</h4>
#component(ViewList with "type=6" "everyrow=2" "Count=10" "ownerid=$group.id")
	</div>
</div>
<div class="groupSecondary">
	<div>
		<h4 class="announce">
			$group.Groupname(共<span class="count">$group.Usercount</span>人)</h4>
	</div>
	<div class="div2">
		<h4>
			群公告栏</h4>
		<div class="notes">

#if ($user.Level>199 || $ChHelper.ChUser.isAdmin) ##//管理员 / 群主
##处理加入请求以及申请管理员请求
		#if ($ApplyMember > 0)
有$ApplyMember位成员等待加入 <a href="/ManageGroup.aspx?id=$group.id&mode=member&">去处理</a><br />
		#end
		#if ($ApplyMaster > 0)
有$ApplyMaster位成员,申请成为管理员 <a href="/ManageGroup.aspx?id=$group.id&mode=member&">去处理</a><br />
		#end
#end
$group.Publish
		</div>
	</div>
	<div class="box" id="groupVisitor">
		<h4>
			最近访客</h4>
#component(ViewList with "type=1" "everyrow=6" "ownerid=$group.id")
	</div>
	<div>
		<h4>
			群论坛</h4>
		<div>
			<div class="page" id="PageUp">
			</div>
			<div id="Loglist">
			##<帖子列表>
#if ($right != 8 || $ChHelper.ChUser.isAdmin) ## 为8时不可读
#component(PostList with "Groupid=$group.id" "EveryPage=20" "nowpage=$nowpage")
#else
<div class="note">
$group.Groupname 是私人群，非成员不能阅读群主题。<a href="javascript:Joinin($group.id);">申请加入群</a>
</div>
#end
			##帖子列表
			</div>
			<div class="page" id="PageDown">
			</div>
		</div>
	</div>
	<div id="sendsubject">
#if ($right ==0 || $ChHelper.ChUser.isAdmin)
<h4><a href="#sendsubject">发表新主题</a></h4>
<ul>
	<li>
		<label for="subject">
			新主题：</label>
		<input id="subject" class="inputtext subject" type="text" /><span id="Alert"></span>
	</li>
	<li>
		<textarea cols="2" rows="20" id="tbody"></textarea>
		<input type="hidden" id="Hdisrich" value="$ChHelper.ChUser.isAdmin" />
		<div>
			<a href="javascript:set_Size(50);">
				<img src="/Images/Editor/plus.gif" alt="+" /></a> <a href="javascript:set_Size(-50);">
					<img src="/Images/Editor/minus.gif" alt="-" /></a></div>
	</li>
	<li>
		<input id="PostSubject" type="button" value="发表" class="subbutton" onclick="PublishLog($group.id);" />
	</li>
</ul>
#else
	#if ($right == 4)## //可读
<div class="note">
$group.Groupname是半公开群，非成员可以阅读群主题但不能发表和回复。你可以
<a href="javascript:Joinin($group.id);">申请加入群</a>
</div>
	#end
#end
	</div>
</div>
<input id="HdPage" type="hidden" value="$nowpage" />
#if ($right <= 4 || $ChHelper.ChUser.isAdmin)
<input id="HdCount" type="hidden" value="$group.LogCount" />
#else
<input id="HdCount" type="hidden" value="0" />
#end
<input id="HdEveryPage" type="hidden" value="20" />
<script type="text/javascript">
if($get('tbody')){
      var oFCKeditor = new FCKeditor('tbody') ;
      if($get("Hdisrich").value=='false')
      oFCKeditor.ToolbarSet = 'Basic' ;
      oFCKeditor.Width = '100%' ;
      oFCKeditor.Height = '200' ;
      oFCKeditor.ReplaceTextarea() ;
      }
function setpage(_){
	$get("Loglist").innerHTML="正在读取服务器信息....";
	$get("HdPage").value=_;
	GetVm("/html/PostList.ashx","template=PostList&Groupid=$group.id&nowpage="+_+"&everypage="+$v("HdEveryPage")
		,function(r){
			$get("Loglist").innerHTML=r.get_responseData();
		});
	pagefun();
}
function DeleteGroup(_){
	if(confirm("确定要解散本群吗？"))
	PageMethods.OptionGroupUser(_,0,Chsword.GroupUserType.Leave,function(r){
	alertEx(r,"location.href=document.referrer;");
	});
}
pagefun();
</script>
#end