<fieldset>
<legend>班级搜索</legend>
<ul>
    <li><label>省份：</label>
        <select id="sc_Province" class="select" onchange="pchange('sc_Province','sc_University');">
#component( OptionList with "Source=$ChHelper.DataCache.ProvinceRows()" )
        </select>
    </li>
    <li><label>大学：</label>
        <select id="sc_University" class="select" onchange="unichange('sc_University','sc_Xueyuan');"></select>
    </li>
    <li><label>学院：</label>
        <select id="sc_Xueyuan" class="select"><option value="">搜索全部</option></select>
    </li>
	<li><label>年级：</label>
	    <select id="sc_Grade" class="select">
	    <option value="">搜索全部</option>
#foreach($year in [1990 .. $DateTime.Now.Year])
#each
	#if($source.get_item("Grade")==$year)
	<option value="$year" selected="selected">$year年</option>
	#else
	<option value="$year">$year年</option>
	#end

#end
	    </select>
	</li>
</ul>	
</fieldset>
<input type="button" onclick="getsclist();" value="搜索" class="subbutton" />
<div>
<ul id="Search_Class_Item">
</ul>
</div>