#foreach($item in $rows)
#each
<li id="Album_li$item.get_item("id")">
<div class="people">
<p class="image">
<a href="/Album.aspx?albumid=$item.get_item("id")&userid=$item.get_item("ownerid")&">
<img src="$ChHelper.Path.GetThumbPhoto($item.get_item("ownerid"),$item.get_item("faceurl"))" alt="$item.get_item("Albumname")" class="">
</a>
</p>
<div class="info">
<strong>
<a href="/Album.aspx?albumid=$item.get_item("id")&userid=$item.get_item("ownerid")&" id="Album_Name$item.get_item("id")">$item.get_item("Albumname")</a>
</strong>
<a href="/User.aspx?userid=$item.get_item("ownerid")&amp;">$item.get_item("Username")</a>
<ul>
<li>[$item.get_item("count")张] 创建于$item.get_item("Addtime").ToString("yy年MM月dd日")<!--Addtime --></li>
<li>拍摄地点:<span id="Album_Loca$item.get_item("id")">$item.get_item("Location")</span></li>
<li>相册描述:<span id="Album_Desc$item.get_item("id")">$item.get_item("Description")</span></li>
</ul>
</div>
<ul class="actions">
<li><a href="/Album.aspx?albumid=$item.get_item("id")&userid=$item.get_item("ownerid")&">进入相册</a></li>
			#if($isedit)
<li>|</li>
<li>
<a href="javascript:ShowEdit($item.get_item("id"));">编辑</a>
</li><li>|</li><li>
<a href="javascript:DeleteAlbum($item.get_item("id"));">删除</a>
</li>
			#end
</ul>
</div>
</li>
#end