#if($Count>$EveryPage)
<div class="page" id="PageUp"></div>
#end
<div id="Comment">
<ol id="talk">
#foreach($item in $rows)
#before
<li 
#odd
 class="odd" 
#even
 class="even" 
#each

id="reply${item.get_item("id")}" >
<div class="comment">
<div class="picture">
<a href="/User.aspx?userid=${item.get_item("userid")}" title="点击查看用户信息">

<img src="${ChHelper.Path.GetFace_Small($item.get_item("userid"))}" alt="${item.get_item("name")}" />
</a></div>

<div class="author">
<span class="floor">
#if ( $type == 1 )
	#if($rows.Columns.Contains("RowNo"))
$item.get_item("RowNo")楼
	#end
#end
</span>
<a href="/User.aspx?userid=${item.get_item("userid")}" title="点击人名查看">${item.get_item("name")}</a>
##$University
<span class="time">$item.get_item("addtime").ToString("MM-dd HH:mm")</span>

#if( !($item.get_item("Userid")==$ChHelper.ChUser.Userid) )
<span class="reply">
<a href="#userTalk" onclick="onReplyClick('${item.get_item("name")}','${item.get_item("userid")}'); return false;">回复</a></span>
#end

#if(!$item.get_item("isDel"))
	#if (($item.get_item("Ownerid")==$ChHelper.ChUser.Userid) || ($item.get_item("Userid")==$ChHelper.ChUser.Userid))
<span class="remove">
<a href="#" onclick="onDeleteReply(${item.get_item("id")},${item.get_item("userid")});return false;">删除</a>
</span>
	#end
#end

#if(($item.get_item("Ownerid")==$ChHelper.ChUser.Userid) && !($item.get_item("Userid")==$ChHelper.ChUser.Userid) && !$item.get_item("issee"))
		#if (!($item.get_item("Userid")==$ChHelper.ChUser.Userid))
<span class="pipe">|</span>
		#end
<span id="comment_see_${item.get_item("id")}" class="setsee">
<a href="javascript:onSeeReply(${item.get_item("id")});">置为已读</a></span>
#end
</div>
<div class="content"><p>
#if(!$item.get_item("isDel"))
$item.get_item("body")
#else
已经删除
#end
</p></div>
</div>
</li>
#end
</ol></div>
#if($Count>$EveryPage)
<div class="page" id="PageDown"></div>
#end
<input id="HdPage" type="hidden" value="$Nowpage" />
<input id="HdCount" type="hidden" value="$Count" />
<input id="HdEveryPage" type="hidden" value="$EveryPage" />
<input id="Hdisreply" type="hidden" value="false" />
<input id="Hdreplyid" type="hidden" value="0" />
<script type="text/javascript">
//显示相应的层
#if($type!=1)
if ($get("$CountId")!=null){
	$get("$CountId").innerHTML=$Count;
}
#end
#if(!$CountId=="")
pagefun();
#end
</script>