#macro(option $i)
#if( ${i.get_item(1)}== $selected)
<option value="${i.get_item(1)}" selected="selected">${i.get_item(0)}</option>
#else
<option value="${i.get_item(1)}">${i.get_item(0)}</option>
#end
#end

#set( $list = [["完全公开",0],["本站用户",50],["与我相同Field",100],["我的好友",150],["只有我",200]])
<select id="${id}" class="${class}">
#foreach($item in $list)
#each
#option($item)
#end
</select>
#*
<option value="0">所有人</option>
<!--
<option value="100">我的好友及所有同网络的人</option>
<option value="50">我的好友及所有大学生</option>
-->
<option value="150">我的好友</option>
<option value="200">只有我</option>
*#