#set($row = $everyrow)
#foreach($item in $viewrows)
#beforeall
<div class="userviewlist">
<ul>
#each
	#if($row==0)
	</ul><ul>
		#set($row = $everyrow)
	#end
<li class="userviewinfo" style="text-align:center;">
<div class="userviewicon">
<div>
<a href="/User.aspx?userid=${item.get_item("userid")}&amp;">
<img src="$this.toFace($item.get_item("userid"))" alt="${item.get_item("name")}" /></a>
</div>
</div>
<span class="userviewname"><a href="/User.aspx?userid=${item.get_item("userid")}&amp;">${item.get_item("name")}</a></span>
</li>
#set($row = $row - 1)
#afterall
</ul></div>
#end