#capturefor(title)列车查询#end
<style type="text/css">
.t1{ margin:10px;}
.t1 label { margin-right:10px;}
.tmargin{ padding:5px 0;}
.tmargin label{color:#3b5999; margin-left:10px;}
.tbox{ border:1px solid #ccc; padding:5px; margin:10px 0;}
.tsub{ width:80px; margin-top:5px; margin-bottom:20px;}
</style>
<script type="text/javascript">
var setfocustrue=function(i){
$(i).checked=true;
};
var vali=function(){
if($("ZZ").checked&&($v("Txt_FZ")==""||$v("Txt_DZ")=="")){
return false;
}
if($("CC").checked&&($v("Txt_CC")=="")){
return false;
}
if($("CZ").checked&&($v("Txt_CZ")=="")){
return false;
}
return true;
};
</script>
<form action="" method="post" >
<div class="t1">


<input type="radio" name="radio" id="ZZ" value="ZZ" checked="checked" />站站查询
<input type="radio" name="radio" id="CC" value="CC" />车次查询
<input type="radio" name="radio" id="CZ" value="CZ" />车站查询
#*<!--
	<asp:RadioButtonList ID="RadioButtonList1" runat="server" 
		RepeatDirection="Horizontal" RepeatLayout="Flow">
		<asp:ListItem Value="ZZ" Selected="True">站站查询</asp:ListItem>
		<asp:ListItem Value="CC">车次查询</asp:ListItem>
		<asp:ListItem Value="CZ">车站查询</asp:ListItem>
	</asp:RadioButtonList>-->*#
<div class="tbox">
<div class="tmargin ">
<label>方式一：</label>发 车 站:
<input name="Txt_FZ" id="Txt_FZ" type="text" onfocus="setfocustrue('ZZ');" />
到站:
<input name="Txt_DZ" id="Txt_DZ" type="text" onfocus="setfocustrue('ZZ');" />
</div>
<div class="tmargin">
<label>方式二：</label>车次查询:
<input name="Txt_CC" id="Txt_CC" type="text" onfocus="setfocustrue('CC');" />
</div>
<div class="tmargin">
<label>方式三：</label>车站查询:
<input name="Txt_CZ" id="Txt_CZ" type="text" onfocus="setfocustrue('CZ');" />
</div>
</div><input type="submit" class="subbutton tsub" onclick="if(!vali())return false;" />
	<!--<asp:Button ID="Button1" runat="server" Text="查询" CssClass="subbutton tsub"
		OnClientClick="if(!vali())return false;" onclick="Button1_Click" />-->
#if($msg)
$msg
#end
</div>
</form>