<?xml version="1.0" encoding="utf-8"?>
  <unity>
    <containers>
      <container>
        <types>
          <type type="CHSNS.ISystemApplication, CHSNS" name="BaseInfo"
                mapTo="CHSNS.SystemApplication.BaseInfo, CHSNS.SystemApplication" />
          <type type="CHSNS.ISystemApplication, CHSNS" name="FaceInfo"
      mapTo="CHSNS.SystemApplication.FaceInfo, CHSNS.SystemApplication" />
        </types>
      </container>
    </containers>
  </unity>