body{font-size:9pt;margin:0px;font-family:Tahoma, Helvetica, sans-serif;}
h3{color: #7D775C;}
h4{margin:0}
a{text-decoration:none;color:#555555}
a:hover{color:#3B5999; text-decoration:underline;}
img{border:0;}

fieldset {padding:10px;	margin:10px;border:#3B5999 dashed 2px;} 
legend {background:#3B5999;color:#fff;border:solid 1px #bdbdbd;padding:3px 5px} 
/*some color*/
.error{color:red} 
.center{text-align:center;}
.message{border:solid 1px #FF8844}
.right{float:right}
.panel{font-family:verdana,"courier new";font-size:14px;line-height:150%;}
.graybox{background-color:#fff; border:1px solid #e9e9e9; margin:5px 10px; padding:10px;}
/*class*/
.title{clear:both;float:right;font-size:12px;font-weight:600;line-height:1.5em;width:100%;
       border-bottom:solid 1px #2984ad;
       background:#e5e5e5}
.title a{color:#333333;display:block}
.title a:hover{color:red;text-decoration:none}
.text{clear:both;line-height:1.5em;}
.option{clear:both;color:#666666;float:right;margin-top:5px;padding-right:5px;text-align:right;width:100%;}
.s_icon{background:url('images/bg_icon.png') no-repeat;}
.portal{display:block; padding:5px 0 5px 18px; margin:10px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#f7f7f7 url(images/style_triangle.gif) 8px 10px no-repeat; color:#333; font-weight:bold;}
.portal:hover{text-decoration:none; border-color:#3B5999; background:#d8dfea url(images/style_triangle.gif) 8px 10px no-repeat; color:#000;}
.portal span{display:block; color:#666; font-weight:normal;}
.portal:hover span{color:#333;}
.link > a{color:#fff;padding:0px 3px 3px 4px;font-family:'@微软雅黑','@宋体';font-size:9pt}
.link > a:hover{background-color:#9B4342;}
#Profile_Isstar{background-position:0 -2080px;width:20px;height:20px;}
#Profile_Isstar:hover{text-decoration:none;}
/*master id*/
#container{margin:0px auto;width:1024px;height:100%}
#intro{width:97%;margin:0px;background-color:#801E2B;padding:0px;height:38px;}
#intro h1{margin:0;background:url(images/logo.jpg) no-repeat;width:300px;height:38px;}
#intro h1 span{display:none}
#publicmenu{margin-left:0px;float:right;height:38px;}

.untityright{padding-right:10px;height:38px;}


#content{clear:both;width:840px;float:right;
border:solid 1px #cccccc;border-bottom:solid 1px #3b5999;overflow:hidden;}

#footer{font-size:12px;padding:2px;padding-top:5px;float:right;width:100%}
#footer p{text-align:center;}
#footer a:link,#footer a:visited{margin-right: 10px;color:#3b5999;float:right;}
#copyright{float:left;width:150px;color:#999999;text-decoration:none;}
#copyright .c{background:url(images/c.jpg) repeat-x top left;}

#linkList{/*background-color:#3b5999;
          background:url(images/toplogo.jpg) no-repeat top left;
          margin-left: -130px;position: absolute;*/
width:170px;}

#linkList2{font-size:12px;padding:0 5px;width:149px;background-color:#f7f7f7;border-bottom:1px solid #cccccc;}
#linkList2 h3{color:#cccccc;font-size:12px;margin:0px 0;}
#linkList2 h3 a{width:25px; font-weight:normal; text-align:right;} 
#lselect{}
/* specific divs */


#Menu_Search{color:#333; font-weight:bold; padding:2px 18px 2px 3px;background:transparent url(images/bg_icon.png) no-repeat 30px -2198px;}
#Menu_Search:hover{color:White;}


#quicklink{
width:642px;background:transparent url(images/headlinkbg.jpg) repeat-x top right;float:left;}
#quicklink ul{list-style-type:none;width:100%;margin:auto;padding:0px;}
#quicklink li{float:left;}
#quicklink li a{background:transparent url(images/headlinkbg.jpg) repeat-x top right;background:transparent url(images/headlinkborder.jpg) no-repeat top left;font-size:12px;color:#333333;display:block;text-decoration:none;padding:2px 10px 1px 10px;width:60px;}
#quicklink li a:hover{color:#fff;background:transparent url(images/headlinkbghover.jpg) repeat-x top left;}

html>body #myhome,html>body #myblog,html>body #myphoto{border-bottom:0;}

#myfriend,#myphoto,#myshare{clear:left;}
#myshare a{background:url(images/icon_new.gif) 94% 50% no-repeat;}
#myshare a:hover{background:#3B5999 url(images/icon_new.gif) 94% 50% no-repeat;}
#lselect a .new{float:right;font-size:12px;}
/*login part*/

#loginpanel #loginForm p{margin:10px 0; line-height:20px;}
#loginpanel #loginForm .label{color:#666666; font-weight:bold; line-height:20px; float:left;}
#loginpanel #loginForm .inputbutton{width:50px;}
#loginpanel .inputtext{width:114px;}
#loginpanel #login{width:40px;}


/*搜索部分 search part

#chcontent_body fieldset{margin:20px 0; padding:10px 0; color:#3b5999; border:1px solid #cccccc; width:500px;}
#chSearchUser fieldset ul{margin-right:260px; list-style:none;}
#chSearchGroup fieldset ul{margin-right:260px; list-style:none;}
#chSearchClass fieldset ul{margin-right:260px; list-style:none;}
#chSearchUser fieldset li{text-align:right; margin:10px 0;}
#chSearchGroup fieldset li{text-align:right; margin:10px 0;}
#chSearchClass fieldset li{text-align:right; margin:10px 0;}
#chSearchUser fieldset label{color:#555; font-weight:bold;}
#chSearchGroup fieldset label{color:#555; font-weight:bold;}
#chSearchClass fieldset label{color:#555; font-weight:bold;}
#chSearchUser .subbutton{width:100px; margin:10px 0; margin-left:10px;}
#chSearchUser{padding:0 70px;}
#chSearchGroup{padding:0 70px;}
#chSearchGroup .subbutton{width:100px; margin:10px 0; margin-left:10px;}
#chSearchGroup select{width:132px;}
#chSearchGroup select option{padding-left:10px;}
#chSearchClass fieldset{margin:20px 70px; padding:10px 0; color:#3b5999; border:1px solid #cccccc; width:500px;}
#chSearchClass select{width:150px;}
#chSearchClass .subbutton{width:100px; margin:10px 0; margin-left:80px;}
#Search_Class_Item{margin:0 70px; padding:10px 0; color:#3b5999;width:500px; margin-bottom:30px;}
#Search_Class_Item li{float:left; margin-left:30px;}
*/
.mypadding{padding:5px;}
.personName{line-height:15px; overflow:hidden; width:50px; text-align:center;}
.personName a{display:block; white-space:nowrap;}


.fontlink a:link{color:#3B5999;text-decoration:none;}

.fontlink a:visited{text-decoration:none;color:#3B5999;}
.fontlink a:hover{text-decoration:underline;color:#3B5999;}




/*pageset*/

.page{position:relative; clear:both; margin:10px 0; text-align:center; line-height:24px;}
.page:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html .page{height:1%;}
*+html .page{min-height:1%;}
.page .this-page{margin:0 5px;padding:2px 6px; border:solid 1px #ff8844; background:#fff; color:#ff8844;font-weight:bold;}
.page a{margin:0 5px;padding:2px 6px; border:solid 1px #d8dfea; background:#fff; color:#3B5999; text-decoration:none;}
.page a:hover{border:solid 1px #d8dfea; color:#fff; background:#3B5999; text-decoration:none;}
.page .pageCount{display:block; color:#808080; text-align:center;}
.page select{float:left;}

.page .page-size1{font-size:.9em;font-weight:bold;}
.page .page-size2{font-size:.8em;font-weight:bold;}

/*button text....*/
.inputbox input{margin:10px;}
input,textarea{font-size:1em;border:1px solid #bdc7d8; padding:1px;}
input[type~="text"],input[type~="password"],input[type~="inputfile"]{border:1px solid #bdc7d8;line-height:16px;height:16px;}
* html .inputtext,* html .inputfile{border:1px solid #bdc7d8;}
input[type~="text"]:focus,input[type~="password"]:focus,textarea:focus{background:#fcfcfc; border:1px solid #bdc7d8;}
.subbutton{background:#3B5999; padding:2px;border:1px solid; border-color:#ffffff #efefef #efefef #ffffff; color:#fff; background-image:url(images/buttonbg.jpg);}
.subbutton:hover{background-image:url(images/buttonhover.jpg);border-color:#bebebe; color:#fff;}
input[type~="submit"],input[type~="button"]{background:#3B5999; padding:2px;border:1px solid; border-color:#d8dfea #0e1f5b #0e1f5b #d8dfea; color:#fff; background-image:url(images/buttonbg.jpg)}
.select{border:1px solid #bdc7d8;}
.select select{margin:-2px; font-size:1em;background:#fcfcfc;}
/*以下 为 ajax controlpadding-right:20px*/
/*消息内容*/
#message_main{border:solid 2px #3B5999;background:#f7f7f7;width:260px;min-height:135px;padding:10px;}
#message_main input{margin-left:80px; width:85px;}
#message_head{cursor: move;border-bottom:solid 1px #6D8484;color:#3B5999;text-align:center;font-weight:bold;font-size:10pt;}
#message_head a{float:right; font-size:9pt; font-weight:normal;}
#message_body{height:100%;color:#dd3c10;margin:10px;}

/* Content */
.ch_content{clear:both; padding:0 10px; border-top:1px solid #d8dfea; border-bottom:1px solid #d8dfea; background:#f7f7f7;}
.ch_content:after{content:"."; display:block; font-size:0; clear:both; visibility:hidden;}
* html .ch_content{height:1%;}
*+html .ch_content{min-height:1%;}

/* note */
.notes{margin:10px 0; padding:10px; border:1px solid #d8dfea; background:#fff; text-align:center; line-height:24px;}
.notes h4{margin:5px 60px; padding-left:20px; border-bottom:1px solid #d8dfea; color:#3B5999; font-size:12px; text-align:left; line-height:20px;}
.notes p,form .notes ol,form .notes ul{margin:0 60px; padding-left:20px; text-align:left; line-height:24px;}
.notes em{font-style:normal; color:#dd3c10;}
.notes span.url{margin-left:15px;}

/*required*/
.required,form .optional{clear:both; padding:2px 0; line-height:24px;}
.required h4,form .optional h4{margin:5px 80px 5px 150px; padding-left:10px; border-bottom:1px solid #d8dfea; color:#3B5999; font-size:12px; line-height:20px;}
.required h4,form .optional h4,form .required p,form .optional p{margin:5px 80px 5px 150px; padding-left:10px;}
.required label,form .optional label{float:left; width:150px; margin:0 10px 0 0; color:#808080; font-weight:bold; text-align:right;}
.required .labelCheckbox,form .optional .labelCheckbox{display:block; float:none; width:auto; margin:0 0 0 160px; color:#000; font-weight:normal; text-align:left;}
.required .labelCheckbox input,form .optional .labelCheckbox input{margin-right:10px;border:solid 1px #bdc7d8;}
.required em,form .optional em{padding:0 2px; font-style:normal;}
#privacyForm .actions{margin:10px 0; padding-left:160px;}
.required .labelRadio,form .optional .labelRadio{display:block; float:none; width:auto; margin:0; padding-left:160px; color:#000; font-weight:normal; text-align:left;}
.wide textarea{width:350px; margin-left:160px;}
.required .labelRadio input,form .optional .labelRadio input{margin-right:10px;}



.qsearch{float:right; }
.qsearch{margin-bottom:0px;}
.qsearch .glass{float:right; border:1px solid #bdc7d8; border-left:0px; height:18px; width:18px;}
.qsearch .glass a img{ float:right}
.qsearch input{width:95px; border:1px solid #bdc7d8;border-right:0px; float:right; height:16px;}
.qsearch input:focus{border-right:0px;}

/*Applist*/
.appli .subbutton{width:100px;}
.appname{float:left; border-bottom:1px solid #ccc; margin-right:20px;}
.appname span{float:left;}
.appmast{float:right; margin-right:10px;}
/*页面顶部头像*/
.picon{background: transparent url(images/picon_topbg.gif) repeat-x top left; margin-bottom:10px; height:80px; float:left; width:100%; }
.pimage{float:left; padding-left:23px; overflow:hidden; margin-top:23px; height:45px;}
.pname{float:left; padding-top:25px; margin-left:10px;}
.pname h4{color:#333;}
.pother{padding-top:5px;}

/*applications*/
.app_list{list-style-type:none;padding-left:16px;margin-left:0}
.app_list li{margin-top:2px;}
.app_list li div{
background:no-repeat left bottom;padding-left:10px;height:21px;}
.app_list a{width:110px;margin-left:13px;font-size:12px;line-height:18px;}
.app_list li{padding-left:10px;}
#AppList li{padding-left:20px;}
.App_mynote,.icon_note{background-position:0 -2280px;}
.App_photos{background-position:0 -1680px;}
.App_myfriend{background-position:0 -1360px; }
.App_myuniversityclass{background-position:-4px -920px;}
.App_mygroup,.icon_group,.icon_groupuser{background-position:-3px 0;}
.App_supernote,.icon_supernote{background-position:1px -2240px;}
.App_train{ background-position:1px -280px;}
.icon_showtext{
background-position:0 -1400px;
}
.padding20{padding-left:20px;}
#Profile_Event li{
 padding-left:20px;

}
.evt{ border-bottom:solid 1px #EBEBEB;}
.evt_del,.evt_del:hover
{
	float:right;
	font-size:10px;
	text-decoration:none;
	background:url(images/bg_icon.png) no-repeat -40px -640px;
	width:20px;
}


/*getpassword 密码找回*/
.pwresetmain{ text-align:center; margin:30px 0;}
.pwresetmain div{ margin:10px 0;}

.pwresetmain .pwtext p{ text-align:right; margin-right:230px; margin-top:10px;}

/*tags*/
.tags{list-style-type:none;margin:0;font-family:Verdana,宋体, Arial, Helvetica, sans-serif;}
.tags li{float:left;margin-right:15px;}
.tags .tag_4 a{color: #FF3300;font-size: 1.6em}
.tags .tag_3 a{color: #FF6600;font-size: 1.4em;}
.tags .tag_2 a{color: #6666FF; font-size: 1.2em; font-weight: 700;}
.tags .tag_1 a{color: #6699FF;}

/*view list*/
.viewlist ul{list-style-type:none;margin:0}
.viewitem { overflow:hidden; width:52px;padding:5px;float:left;margin:0;display:block}
.viewitem .name { padding:5px 0 2px; line-height:15px; overflow:hidden;}
.viewitem .name a { display:block; white-space:nowrap;}
.viewitem .face {position:relative;padding:0}
/*face*/

.face a { border:1px solid #d8dfea;background-position:center center;background-repeat:no-repeat;display:block;}
.face a:hover { border:1px solid #3B5999;}
.face-small a{height:50px;width:50px;}
.face-middle a{height:100px;width:100px;}
.face-tiny a{height:20;width:20px;}
/*event page*/

.imgnew{ background-color:#fff;border:1px solid #e9e9e9; margin:0 10px; padding:10px;margin-top:10px;}
/*
.imgnew .userviewlist{width:100%;height:100px}
.imgnew .userviewlist ul li{margin-left:12px;}
*/

.sysnote{background-color:#fff; width:460px; border:1px solid #e9e9e9; margin:0 10px; padding:10px;margin-top:10px; color:#3b5999;}
.sysnote p{ margin-top:10px;}


.homemain{float:left}
.homemain h4{ color:#333333;}
.sysnote h4{ color:#ff9900;}
.homemain li{ list-style:none; margin-top:5px;}
.homeright{ float:right; clear:both; width:133px; margin-right:5px; padding:10px 0;}
.homeright h4{ background-color:#e9e9e9; padding:0 5px; color:#333333;}
.homeright ul{ margin-left:15px; margin-top:10px;}
.homeright ul li{ margin-top:5px; color:#3b5999;}

#chRequest{ margin-bottom:10px;}

/*readlist*/
#readlist { overflow:hidden;}
#readlist table { table-layout:fixed; border-bottom:1px solid #d8dfea;}
#readlist table thead th { background:#F6F6F6; border-top:1px solid #d8dfea; line-height:20px; font-weight:normal;}
#readlist table td { padding:3px 0; border-top:1px solid #d8dfea;}
#readlist table tr.odd{ background-color:#FCFCFC;}
#readlist table .title { padding-left:10px;overflow:hidden;white-space:nowrap;vertical-align:middle;}
#readlist table .time { width:90px; text-align:center;vertical-align:middle;}
#readlist table .author { width:90px; text-align:center;}
#readlist table .group {padding-right:10px; text-align:center; width:150px;overflow:hidden;white-space:nowrap;vertical-align:middle;}


/* useritem list new*/
.userlist,.userlist ul { list-style-type:none;padding:0px 5px;margin:5px}
.useritem { display:block; margin:10px 0; padding:10px; border:1px solid #d8dfea; background:#fff;}
.useritem:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html .useritem { height:1%;}
*+html .useritem { min-height:1%;}
.useritem .face { overflow:hidden; float:left; text-align:left;margin-right:13px}
.useritem .info { display:inline; overflow:hidden; float:left; width:300px; margin-left:13px; text-align:left;border:0px solid black;}
.useritem .actions { float:right;}
.useritem p{margin-top:1px}
.actions li { text-indent:5px; border-bottom:1px solid #d8dfea; color:#808080; text-align:left;}
.actions a { display:block; width:90px; text-decoration:none;}
.actions a:hover {background:#3B5999; color:#fff; text-decoration:none;}
/*chobx*/
#chbox .b {background:url(/images/chbox/b.png);}
#chbox .tl {background:url(/images/chbox/tl.png);}
#chbox .tr {background:url(/images/chbox/tr.png);}
#chbox .bl {background:url(/images/chbox/bl.png)}
#chbox .br {background:url(/images/chbox/br.png);}
#chbox {position: absolute;top: 0;left: 0;z-index: 100;text-align: left;}
#chbox .popup {position: relative;}
#chbox table { border-collapse: collapse;}
#chbox td { border-bottom: 0;padding: 0;}
#chbox .body {padding: 10px;background: #fff;width: 370px;}
#chbox .loading {text-align: center;}
#chbox .image {text-align: center;}
#chbox img {border: 0;margin: 0;}
#chbox .footer {border-top: 1px solid #DDDDDD;padding-top: 5px;margin-top: 10px;text-align: right;}
#chbox .tl, #chbox .tr, #chbox .bl, #chbox .br {height: 10px;width: 10px;overflow: hidden;padding: 0;}
#chbox_overlay {position: fixed;top: 0px;left: 0px;height:100%;width:100%;}
.chbox_hide {z-index:-100;}
.chbox_overlayBG {background-color: #000;z-index: 99;}
* html #chbox_overlay { /* ie6 hack */position: absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}

/*menu over*/
.menu ul{list-style:none;margin:0}
.menu{display:inline-block;padding-right:10px}
.menu a{color:#fff}
.menu_title{cursor:pointer;color:#fff;padding:2px 15px 0 5px;}
.menu_title:hover{color:#fff;background:#9B4342;}
.menu_network li a{margin-left:0px}
.sfhover .menu_network{position: absolute;padding:0;margin:0;margin-left:-10px;} 
.sfhover .menu_network li{margin-bottom:0px;} 
.menu ul{list-style-type:none;display:block;position:absolute; margin-left:-100em;}
.menu_network li{margin-left:0;border-bottom:1px solid #fff;}
.menu_network a{color: #000;display:block;text-decoration: none;cursor: pointer;padding:1px 0px 1px 16px;margin: 1px 0 1px 0;}
.menu_network a:hover{background-color: #9B4342;color: #fff;padding:1px 0px 1px 16px;}
.menu_network{margin-left:0;border: 1px solid #9a9a9a;z-index: 1000;background: #fff;cursor: default;text-align:left;color: #6d84b4;padding:1px;width:90px;}


/*userpage*/
.curtain{background:url(images/curtain.png) repeat-x top left;min-height:100px}
#userRelations { float:right;padding-bottom:10px;width:205px; padding-left:10px;margin-top:0px;z-index:100;}
#userUpdates {float:left;position:relative;width:600px;}
#userRelations ul,#userRelations ul{list-style-type:none;margin-left:0;padding-left:0}
#userStatus{}
#userStatus h2{margin:4px;font-size:16px;}
#userAccount li{ margin-left:2px;}
 .mypage_name{ font-weight:bold; margin-left:5px;}
 .mypage_sta{ margin-top:5px;margin-left:5px;}
#MagicBox{ margin-top:20px;}
/* Content */
.ch_content { clear:both; padding:0 10px; border-top:1px solid #d8dfea; border-bottom:1px solid #d8dfea; background:#f7f7f7;}
.ch_content:after { content:"."; display:block; font-size:0; clear:both; visibility:hidden;}
* html .ch_content { height:1%;}
*+html .ch_content { min-height:1%;}

.box { position:relative; overflow:hidden; width:100%; margin-bottom:0px;}
.box h3 { height:20px; margin-bottom:0px; padding-left:8px; background: transparent url(images/h4bg.jpg) repeat-x bottom left; color:#444444; border-top:1px solid #95a5c6; font-size:12px; line-height:20px;}
	.box h3 .edit a{ color:#cccccc; font-weight:normal; float:right; margin-right:10px;}
	.box h3 .stat { height:20px; margin-left:5px; color:#000; font-size:12px; font-weight:normal; line-height:20px;}
	.box h3 .count { padding:0 2px;}
.box .boxcontent { padding:0 5px;}
	.box .readmore { text-align:right;}
.box .more { position:absolute; right:10px; top:6px; line-height:24px; color:#fff;}
	.box .more .stat { color:#3B5999;}
.box .boxcont{ padding:0 10px;}


.ch_content .box h3 { margin:0; border:0; background:transparent;}

.subcontainer { margin:10px 30px; padding:1px; border:10px solid #d8dfea; background:#3B5999;}


.personInfo { overflow:hidden; width:91px; vertical-align:bottom;}
	.personIcon { width:52px; overflow:hidden;}
		.personIcon td { width:52px;}
		.personIcon a img { width:50px; border:1px solid #d8dfea;}
		.personIcon a:hover img { border:1px solid #3B5999;}
.personName { padding:5px 0 2px; line-height:15px; overflow:hidden;}
.personName a { display:block; white-space:nowrap;}

/* ==== 1.1 userInfo ==== */
#userPicture { margin-bottom:10px;}
	#userPicture a img { border:1px solid #d8dfea;z-index:100;}
	#userPicture a:hover img { border:1px solid #3B5999;z-index:100;}

#userActions { list-style-type:none; font-family:Tahoma, Helvetica, sans-serif; margin-top:5px;margin-left:0}
	#userActions li { border-bottom:1px solid #d8dfea; color:#808080; text-indent:5px; line-height:20px;}
	* html #userActions li { height:1%;}
	*+html #userActions li { min-height:1%;}
	#userActions li a { display:block; width:202px; text-decoration:none; font-size:12px;}
	#userActions li a:hover{ background-color:#3b5999; color:White;}
	
	
#AccountInfo,#BasicInfo,#ContactInfo,#MagicBox{ color:#3b5999;}




/*toc tabs*/
#toc{padding:0 10px; margin:10px 0;}
.ui-tabs-nav .status{float:right; color:#808080;}







/*jquery ui tabs*/

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none !important;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav, .ui-tabs-panel {
    font-family: "微软雅黑", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.ui-tabs-nav {list-style-type:none; padding-left:10px; border-bottom:1px solid #3B5999;}
.ui-tabs-nav:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.ui-tabs-nav li {float:left;}
.ui-tabs-nav a, .ui-tabs-nav a span {}
.ui-tabs-nav a {display:block; margin-right:0px; padding:2px 5px; text-decoration:none; line-height:15px; word-break:keep-all;}
.ui-tabs-nav a:link, .ui-tabs-nav a:visited {}/**/
.ui-tabs-nav .ui-tabs-selected a {background:#6d84b4;  margin:0px; color:#fff;}
/**/
.ui-tabs-nav .ui-tabs-selected a:hover{text-decoration:none; background:#d8dfea;display:block; color:#3b5999;}
.ui-tabs-nav a:hover{color:#3b5999;padding:2px 4px; padding-bottom:1px; background:#d8dfea; text-decoration:none;border:solid 1px #d8dfea;border-width:1px 1px 0;}
.ui-tabs-nav .ui-tabs-selected{float:left; color:#3b5999;border:solid 1px #6d84b4;border-width:1px 1px 0}
.ui-tabs-nav .activetabhover{margin:0px; text-decoration:none; background:#3B5999;}
.ui-tabs-nav .inactivetab:hover{color:#3B5999; background:#B6BDD2; text-decoration:none;}
.ui-tabs-nav .tabs_hover{margin:0px; color:#3B5999; text-decoration:none;}

.ui-tabs-nav a span {
    padding-top: 1px;
    padding-right: 0;
    height: 20px;
    background-position: 0 0;
    line-height: 20px;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-top: 0;
    height: 27px;
    background-position: 0 -23px;
    line-height: 27px;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {opacity: .4;filter: alpha(opacity=40);}
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {}
.ui-tabs-panel {}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}
* html .ui-tabs-nav{height:1%;}
*+html .ui-tabs-nav{min-height:1%;}
