<?xml version="1.0"?>
<SystemConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConnectionString>Data Source=.;Initial Catalog=sq_menglei;Integrated Security=True</ConnectionString>
  <DataBaseType>MsSqlServer</DataBaseType>
  <Path>/</Path>
</SystemConfig>