<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>
  <database>
    <provider name="SQLServer2.0"/>
    <dataSource name="SqlServer" connectionString="Data Source=CHSWORD-PC\SQLEXPRESS;Initial Catalog=CHSNS.Database;Persist Security Info=True;Integrated Security=True"/>
  </database>
  <sqlMaps>
    <sqlMap resource="Maps/Accounts.xml" />
    <sqlMap resource="Maps/Friends.xml" />
  </sqlMaps>

</sqlMapConfig>

