<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
        <section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
        <sectionGroup name="ajaxjson" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, Chsword.Ajax">
            <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, Chsword.Ajax">
                <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, Chsword.Ajax">
                    <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, Chsword.Ajax" requirePermission="false" allowDefinition="Everywhere"/>
                </sectionGroup>
            </sectionGroup>
        </sectionGroup>
    </configSections>
    <system.web>
        <sessionState mode="InProc" timeout="20" cookieless="UseCookies" cookieName=".ChswordCookies">
            <providers>
                <clear/>
            </providers>
        </sessionState>
        <httpRuntime maxRequestLength="20480"/>
        <compilation debug="false">
        </compilation>
        <httpHandlers>
            <remove verb="*" path="*.asmx"/>
            <remove verb="*" path="*.ashx"/>
            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, Chsword.Ajax"/>
            <add verb="*" path="*.ashx" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />

            <add verb="*" path="*.vm" type="System.Web.HttpForbiddenHandler" />
            <add verb="*" path="*.njs" type="System.Web.HttpForbiddenHandler" />
            <add verb="*" path="*.brail" type="System.Web.HttpForbiddenHandler" />
            <add verb="*" path="*.brailjs" type="System.Web.HttpForbiddenHandler" />
            <add verb="*" path="*.st" type="System.Web.HttpForbiddenHandler" />
            <add verb="*" path="*.js" type="Chsword.CompressionHttpHandler, ChAlumna" />
            <add verb="*" path="*.jpg" type="ChAlumna.ImageHttpHandler,ChAlumna"/>
        </httpHandlers>
        <httpModules>
            <add name="routing" type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" />
            <add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />

        </httpModules>
        <customErrors   mode="Off"/>
    </system.web>
    <monorail smtpHost="yoursmtphost" useWindsorIntegration="false">
        <viewEngines viewPathRoot="Views">
            <add xhtml="false" type="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity" />
        </viewEngines>
    </monorail>
    <ajaxjson>
        <scripting>
            <webServices>
                <jsonSerialization>
                    <converters>
                        <add name="DataSetConverter" type="Microsoft.Web.Script.Serialization.Converters.DataSetConverter, Chsword.Ajax"/>
                        <add name="DataRowConverter" type="Microsoft.Web.Script.Serialization.Converters.DataRowConverter, Chsword.Ajax"/>
                        <add name="DataTableConverter" type="Microsoft.Web.Script.Serialization.Converters.DataTableConverter, Chsword.Ajax"/>
                    </converters>
                </jsonSerialization>
            </webServices>
        </scripting>
    </ajaxjson>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
        </modules>
        <handlers>
            <remove name="WebServiceHandlerFactory-Integrated"/>
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, Chsword.Ajax"/>
        </handlers>
    </system.webServer>
</configuration>
