<table id="Subjectlist" class="threadlist">
<thead>
<tr>
<th class="threadTitle">主题</th>
<th class="threadAuthor">作者</th>
<th class="threadStat">回复</th>
<th class="threadStat">阅读</th>
<th class="threadResponder">最后回复</th>
</tr></thead><tbody>
#foreach($item in $PostListRows)
#before
<tr class="
#even
even
#odd
odd
#each
">
<td class="tit">
#if($item.get_item("ispost")==1)
<img src="/images/note_top.gif" alt="置顶" />
#end
<a href="/Note.aspx?id=$item.get_item("id")&Groupid=${Groupid}&">$item.get_item("title")</a></td>
<td>
<a href="/User.aspx?userid=$item.get_item("Userid")">$item.get_item("Name")</a></td>
<td>$item.get_item("CommentCount")</td>
<td>$item.get_item("ViewCount")</td>
<td><a href="/User.aspx?userid=$item.get_item("senderid")">$item.get_item("senderName")</a><br />
<span class="time">$item.get_item("Addtime").ToString("MM-dd hh:mm")</span></td>
</tr>
#end
</tbody>
</table>