#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/myblog.css" rel="stylesheet" type="text/css" />
#end

#if(!$blog)
<div class="notes">你所访问的博客不存在
	#if($userid==$ChHelper.ChUser.Userid)
$Url.LINK("创建","%{action='Edit',controller='Blog',area=''}")
	#end
</div>
#else
#capturefor(title) $blog.title -$blog.subtitle #end
<div class="blogsidebar">
	<h4>常用链接</h4>
	<div class="notes">
$url.link("设置","%{action='edit',controller='blog'}")
	</div>
	<h4>我的标签</h4>
	<div class="notes">

	</div>
</div>
<div class="blogmain">
#set( $blogs = $ChHelper.DB.GetPosts($userid) )
#parse( "$siteroot/Blog/Item-Notes.vm" )
</div>
#end