#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/main.css" rel="stylesheet" type="text/css" />
#end
#capturefor(title) 对不起页面错误 #end
<div class="notes">
$context.LastException.Message <br />

$context.LastException.Source<br />
$context.LastException.TargetSite<br />
$context.LastException.StackTrace<br />

<br />
<br />
<br />
</div>