#if ($Relation < $AllShowLevel && !$ChHelper.CH.Context.User.isAdmin)
##不是管理员或者无权限时限制
$Response.Redirect("/Search.aspx?userid=${Ownerid}&mode=show");
#end
#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/Reply.css" rel="stylesheet" type="text/css" /><link href="${ChHelper.ChSite.StylePath}/mypage.css" rel="stylesheet" type="text/css" />
#end
#capturefor(javascript)
<script src="/JavaScript/PageSet.js" type="text/javascript"></script>
<script src="/javascript/reply.js" type="text/javascript"></script>
#end
#capturefor(title) $Username的留言 #end
<script type="text/javascript">
//显示相应的层
var userid=$Ownerid;
function setpage(id){

	$get("HdPage").value=id;
	PageMethods.GetReplyList(id,$get("HdEveryPage").value,userid,0,GetReplyListSuccessed);
}
function GetReplyListSuccessed(result){
	if(result!=null&&result!=""){
		$get("talk").innerHTML=result;
		PageSet_chSetPage("PageUp","PageDown","HdPage","HdCount","HdEveryPage");
	}
}
</script>
<div id="toc">
	<p class="status">
	(<span class="count" id="rCount"></span>条留言)</p>
	<p class="crumbs">
	<a href="/User.aspx?userid=$Ownerid">$Username</a><span class="pipe">/</span>留言板 
	#if ($Ownerid == $ChHelper.CH.Context.User.Userid)
	<span class="setsee"><a href="javascript:onSeeAll();">全部置为已读</a></span>
	#end
	</p>
</div>
<div class="ch_content">

<div id="leaveWordForm" style="margin:0 0 5px 20px">
	<p id="starttalk">
		<input id="starttalkBtn" class="subbutton" value="我要留言"	onclick="iwillReply();" type="button" />
		<span id="ReplyMsg"></span>
	</p>
	<div id="starttalkForm" style="display: none;">
		<p>
		<input id="Bup" type="button" value="留言" onclick="ReplyReply($Ownerid);" class="subbutton" tabindex="2" />
		<span class="discription">(每条最多2000字)</span>
		<input value="取消" class="inputbutton" onclick="cancelLeaveWord();" tabindex="3" type="button"/>
		</p>
		
		<textarea id="TBody" cols="70" rows="7" tabindex="1" onkeydown="CtrlEnterReplyUser($Ownerid,event);" class="cmtbody"></textarea>
	</div>
</div>

#component(CommentList with "type=0" "Ownerid=$Ownerid" "CountId=rCount")

</div>
<script type="text/javascript">	PageSet_chSetPage("PageUp","PageDown","HdPage","HdCount","HdEveryPage");</script>