#capturefor(title) 添加Field #end
#capturefor(javascript)
<script src="/WebServices/AutoSelect.asmx/js" type="text/javascript"></script>
#end
<form action="$url.for("%{action='Field_index'}")" method='post'>

#if($Flash.msg)
<div class="notes">$msg</div>
#end
<fieldset>
	<legend>添加Field</legend>
	<ul>
		<li>
			<label>学校地区：</label>
			<select id="f.pid" name="f.pid" tabindex="9" onchange="pchange();">$provinces</select>
		</li>
	</ul>
</fieldset>
<script type="text/javascript">
function pchange(){
location="$url.for("%{querystring='pid='}")"+$v("f.pid");
}
$("f.pid").value=$pid;
</script>
	<ul>
	<li>
		<input type="submit" value="提交" class="subbutton" />
	</li>
	</ul>
		#foreach($i in $fs)
#beforeall
<div>
#before
<div style="border:1px;width:220px;float:left;">
#each
$i.name 
##if($i.istrue)显示#else隐藏#end
#after
</div>
#afterall
</div>
#nodata
当前地区内没有Field
		#end
</form>




#*
添加Qinshi
*#