#container { width:628px;}

/* Header */
#header { width:628px;}
#header #tagline, #navigation { left:0;}

/* Content */
#loginForm { width:260px; margin:0 auto;}
#loginForm p { margin:10px 0; line-height:24px;}
#loginForm p:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
#loginForm p.info { margin-left:60px; color:#808080;}
#loginForm p#reActivateBtns { margin-left:60px;}
* html #loginForm p#reActivateBtns { margin:0; text-align:center;}
*+html #loginForm p#reActivateBtns { margin:0; text-align:center;}
#loginForm label { float:left; width:60px; color:#808080; font-weight:bold; line-height:24px;}
#loginForm input#email, #loginForm input#password { float:right; width:192px; height:16px; padding:3px; border:1px solid #bdc7d8; line-height:16px;}
#loginForm .formbuttons { margin-left:60px;}
.getpasswd { margin:20px 0; text-align:center;}
#help { margin:20px 50px; padding: 10px 0; border-top:1px solid #d8dfea; text-align:center;}
