#classbox1{ width:100%;}
#topclassbox{ padding:0 10px 0 10px;}
#clabox{ width:100%; border-top:solid 1px green;}
#mainclassbox{ width:70%; margin:6px; float:left;background-color:White;}
#sideclassbox{ width:27%; float:left; margin-top:10px; background-color:White;}

.topfont{ background-color:#D8DFEA; color:#3B5999;padding:1px 6px 1px 6px; border-top:solid 1px #3B5999;}
.classtext{ padding: 10px 6px 10px 6px;}
.classtext th{ font-weight:normal;}
.classtext tr{ margin:6px;}
#classname{ margin-top:2px; margin-bottom:30px;}
#classname span{ float:right; margin-top:5px; width:340px;}
#classname input{ float:right;}


#mainclassbox table { table-layout:fixed; margin:0 6px 6px 6px;}
#mainclassbox table th { background:#f7f7f7; border-top:1px solid #d8dfea; line-height:24px; font-weight:normal;}
#mainclassbox table td { padding:3px 0; border-top:1px solid #d8dfea;}
#mainclassbox table tr.odd td { }
#mainclassbox table tr.even td { }
#mainclassbox table .title { padding-left:10px;}
#mainclassbox table .time { width:90px; text-align:center;}
#mainclassbox table .edit { width:80px; text-align:center;}
#mainclassbox table .commenter { width:60px; text-align:center;}
#mainclassbox table .remove { width:30px; padding-right:10px; text-align:right;}

#newtext input{ margin:0 0 0 6px;}