/*----photo list---*/
.photolist{width:100%}
.photolist ul{ list-style:none;}
.photolist li{ float:left; margin:6px; border:1px solid #d8dfea; padding:5px;}
.photolist li:hover{ background-color:#d8dfea;border:1px solid #95a5c6;}
#chSee{ text-align:center; padding:10px;}

.albump input{ margin:10px;}

#chSet fieldset{ margin:10px; color:#3b5999; border-color:#95a5c6; padding:10px 0;}
#chSet textarea{ width:450px; height:150px;}
#chSet input{ width:200px;}
#chSet ul{ margin-left:25px;}
#chSet ul li{ margin-top:8px;vertical-align:bottom; }

.pedit{ text-align:center;}