#capturefor(title) 网站配置 #end
<form action="$url.for("%{action='config'}")" method="post">
	<fieldset title="网站配置">
		<legend>网站设置</legend>
		<label>网站标题</label>
		<input type="text" name="chsite.title" value="$!{chsite.title}"
		onmouseover="showInfo(this,0,0,'提示','网站标题,将显示在浏览器标题栏中','50','up')"
		onmouseout="hideInfo()" />
		<br />
		<label>网站地址</label>
		<input type="text" name="chsite.url" value="$!{chsite.url}" />
		<br />
		<label>根域名</label>
		<input type="text" name="chsite.domain" value="$!{chsite.domain}" />形如:eice.com.cn
		<br />
		<label>根目录</label>
		<input type="text" name="chsite.path" value="$!{chsite.path}" />可以看做是虚拟目录名,如果是根目录则写/,要以/开始并以/结束
		<br />
		<label>
			备案</label>
		<input type="text" name="chsite.number" value="$!{chsite.number}" />
		<br />
		<label>
			版权标志</label>
		<input type="text" name="chsite.copyright" value="$!{chsite.copyright}" />
		<br />
		
		
		<label>站长Email</label>
		<input type="text" name="chsite.masteremail" value="$!{chsite.masteremail}" />
		<br />
		<label>发送提示、信息的Email</label>
		<input type="text" name="chsite.senderemail" value="$!{chsite.senderemail}" />
		<br />
		
		<label>Email显示用户名</label>
		<input type="text" name="chsite.sendername" value="$!{chsite.sendername}" />
		<br />
		<label>SMTP服务器</label>
		<input type="text" name="chsite.smtpserver" value="$!{chsite.smtpserver}"
		 />
		<br />
		<label>SMTP 用户/密码/端口</label>
		<input type="text" name="chsite.smtpuser" value="$!{chsite.smtpuser}" />/
		<input name="chsite.smtppassword" value="$!{chsite.smtppassword}" type="password" />/
		<input type="text" name="chsite.smtpport" value="$!{chsite.smtpport}" />
				<br />
	
	</fieldset>
	<fieldset title="用户配置">
		<legend>用户配置</legend>
		<label>必须加入一个Field</label>$FormHelper.CheckboxField("chsite.IsMustField","%{value=$!{chsite.IsMustField},trueValue='true', falseValue='false'}")
		<br />
	#*	<label>是否允许查看原始大小的头像</label>
		$FormHelper.CheckboxField("chsite.IsSoureFace","%{value=$!{chsite.IsSoureFace},trueValue='true', falseValue='false'}")
		<br />*#
	</fieldset>
	<fieldset title="风格样式">
		<legend>风格样式</legend>
		<label>样式</label>
<select name="chsite.style" >
#foreach($item in $StringHelper.Split($chsite.stylelist,"|"))
	#if( $item==$chsite.style )
<option value="$item" selected="selected">$item</option>
	#elseif($item!="")
<option value="$item">$item</option>
	#end
#end
</select>
		<br />
	</fieldset>
	
	<input type="submit" value="更新内容" />
</form>


#*
创建:邹健
功能:管理员页面,网站配置
*#