#capturefor(title) 注册与访问 #end
<form action="" method="post">
	<fieldset>
	<legend>注册与访问</legend>
	<div style="float:left;width:300px">
		<label>允许用户注册:</label>
	$Form.RadioField("data.IsAllowReg", "true")是
	$Form.RadioField("data.IsAllowReg", "false")否
		<br />
	</div>
	<div style="float:left;width:400px">
		<label>注册时是否进行邮件验证:</label>
	$Form.RadioField("data.IsEmailValidate", "true")是
	$Form.RadioField("data.IsEmailValidate", "false")否
		<br />
	</div>
	</fieldset>
	<input type="submit" value="更新内容" />
</form>


#*
创建:邹健
功能:管理员页面,网站配置
*#