#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/friend.css" rel="stylesheet" type="text/css" />
#end
#capturefor(javascript)
<script src="/JavaScript/PageSet.js" type="text/javascript"></script>
<script src="/javascript/friend.js" type="text/javascript"></script>
#end
#capturefor(title)好友请求#end
#if(!$user)
用户不存在
#else
#capturefor(title)$user.get_item("name")的#end
<form>
<div id="UserListMsg"></div>
<div style="height: 100%">
<div id="toc">
<p class="status">
(有<span class="count" id="FriendCount">$Count</span>个人请求加你为好友)
<a href="javascript:IgnoreAllFriend();">忽略所有请求，慎用</a>
</p>
<p class="snav">未处理的加为好友请求</p>
</div>
<div class="ch_content">
<div id="PageUp" class="page">
</div>
<ol id="UserListItems" class="peoplelist infolist">
#parse( "$siteroot/html/UserList-FriendRequest.vm" )
</ol>
<div id="PageDown" class="page">
</div>
</div>
</div>
<input id="Hdpage" type="hidden" value="$Nowpage" />
<input id="HdCount" type="hidden" value="$Count" />
<input id="HdEveryPage" type="hidden" value="10" />
<script type="text/javascript">
PageSet_chSetPage("PageUp","PageDown","Hdpage","HdCount","HdEveryPage");
</script>

</form>
#end