#Comment { color:#ccc;}
#Comment a{ color:#eee;}
#Comment h4 {color:#3B5999; line-height:24px;}
#Comment ol { list-style-type:none; margin-top:10px; padding:0px;}
* html #Comment ol { height:1%;}
*+html #Comment ol { min-height:1%;}
#Comment ol li { padding:5px 0px;}
#Comment ol li.odd {  border-top:1px solid #d8dfea; border-bottom:1px solid #d8dfea;}
#Comment ol li.even { }
#Comment ol li.list {}
#Comment .author { line-height:24px;}
#Comment .list .author{ background-color:#f7f7f7; border-top:1px solid #d8dfea;}
#Comment .floor { float:right; color:#808080;}

#Comment .comment:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html .comment { height:1%;}
*+html .comment { min-height:1%;}

#Comment .comment { padding-left:60px;}
#Comment .picture { float:left; width:60px; margin-left:-60px;}
* html #Comment .picture { display:inline;}
#Comment .picture a { display:block; margin:3px; background:#fff;}
#Comment .picture a img { width:50px; padding:1px; border:1px solid #d8dfea;}
#Comment .picture a:hover img { width:50px; padding:1px; border:1px solid #3B5999; background:#d8dfea;}

