

/* friend list (ol) */
#friends { list-style-type:none; text-align:right;}
#friends ul { list-style-type:none;}

.person, .entry, .album { margin:10px 0; padding:10px; border:1px solid #d8dfea; background:#fff;}
.person:after, .entry:after, .album:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html .person, * html .entry, * html .album { height:1%;}
*+html .person, *+html .entry, *+html .album { min-height:1%;}

.people .image { overflow:hidden; float:left; width:108px; text-align:left;}
.people .image img { padding:3px; border:1px solid #d8dfea; background:#fff;}
.people .image a:hover { background:transparent;}
.people .image a:hover img { border:1px solid #3B5999; background:#d8dfea;}
.people .info { display:inline; overflow:hidden; float:left; width:300px; margin-left:10px; text-align:left;border:0px solid black;}
.people .info h4 { color:#808080;}
.people .info .subinfo { color:#808080;}
.people .actions { float:right;}
.people .actions ul { list-style-type:none; width:100px;}
.people .actions a { display:block; width:90px; padding:0 5px;  text-align:left; text-decoration:none;}

p.image { margin:10px 0;}


/* people list */
.peoplelist, .peoplelist ul { list-style-type:none;}

.people { display:block; margin:10px 0; padding:10px; border:1px solid #d8dfea; background:#fff;}
.people:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html .people { height:1%;}
*+html .people { min-height:1%;}

.people .image { overflow:hidden; float:left; width:110px; margin-right:10px; text-align:left;}
.people .image img { border:1px solid #d8dfea; background:#fff;}
.people .image a:hover { background:transparent;}
.people .image a:hover img { border:1px solid #3B5999;}
.people .info { display:inline; overflow:hidden; float:left; width:300px; text-align:left; line-height:20px;}
.people .info h4 { color:#808080;}
.people .info .subinfo { color:#808080;}
.people .actions { float:right;}
.people .actions ul { list-style-type:none; width:100px;}
.people .actions li { text-indent:5px; border-bottom:1px solid #d8dfea; color:#808080; text-align:left;}
.people .actions a { display:block; width:90px; text-decoration:none;}
.people .actions a:hover {background:#3B5999; color:#fff; text-decoration:none;}
.people .info th { width:3em;}
