<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChAlumna.Models.Properties.Settings.sq_mengleiConnectionString"
            connectionString="Data Source=CHSWORD;Initial Catalog=sq_menglei;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ChAlumna.Models.Properties.Settings.sq_mengleiConnectionString1"
            connectionString="Data Source=218.10.17.16;Initial Catalog=sq_menglei;Persist Security Info=True;User ID=sq_menglei"
            providerName="System.Data.SqlClient" />
        <add name="ChAlumna.Models.Properties.Settings.sq_mengleiConnectionString2"
            connectionString="Data Source=218.10.17.16;Initial Catalog=sq_menglei;Persist Security Info=True;User ID=sq_menglei;Password=77298666"
            providerName="System.Data.SqlClient" />
        <add name="CHSNS.Models.Properties.Settings.CHSNSDBConnectionString"
            connectionString="Data Source=CHSWORD;Initial Catalog=sq_menglei;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>