<h4><a href="#sendsubject">发表新主题</a></h4>
<ul>
	<li>
		<label for="subject">
			新主题：</label>
		<input id="subject" class="inputtext subject" type="text" /><span id="Alert"></span>
	</li>
	<li>

		<textarea cols="2" rows="20" id="tbody"></textarea>
		<input type="hidden" id="Hdisrich" value="$isrich$" />
		<div>
			<a href="javascript:set_Size(50);">
				<img src="/Images/Editor/plus.gif" alt="+" /></a> <a href="javascript:set_Size(-50);">
					<img src="/Images/Editor/minus.gif" alt="-" /></a></div>
	</li>
	<li>
		<input id="PostSubject" type="button" value="发表" class="subbutton" onclick="PublishLog($Groupid$);" />
	</li>
</ul>
<!--
为群中的用户能否发帖提供方便
LE 2007 10 9


-->