<div id="toc">
 <ul id="tabs">
	<li class="status"><a href="/Notebook.aspx?mode=write">[写新日志]</a></li>
	<li class="inactivetab" id="show1"><a href="javascript:sets(1);">推荐日志</a></li>
	<li class="inactivetab" id="show0"><a href="javascript:sets(0);">最新日志</a></li>
 </ul>
</div>
<div>
	<ul id="LogBookItems">$Items$</ul>
</div>
<input id="HdIsPush" type="hidden" value="false" />
<script type="text/javascript">
var f_toc=false;
var cache_toc;
function sets(id){//设置标签的转换
	if(!f_toc){
		f_toc=true;
		cache_toc=$get("tabs").innerHTML;
	}else{
		$get("tabs").innerHTML=cache_toc;
	}
	SetActiveText($get("show"+id));
	$get("HdIsPush").value=(id==1)?"true":"false";
	$get("LogBookItems").innerHTML="<li>正在载入...</li>";
	Sys.Debug.traceDump(id);
	PageMethods.GetNewLogBookItem(id,function(result){
			$get("LogBookItems").innerHTML=result;
	},onfail);
}
sets($Class$);
</script>