<li>
<div class="entry">
<div class="author">
<a href="/User.aspx?userid=$Userid$"><img src="$Userface$" alt="$Username$" /></a>
<ul>
<li><a href="/User.aspx?userid=$Userid$">$Username$</a></li>
<li><a href="/Notebook.aspx?userid=$Userid$">浏览所有日志</a></li>
</ul></div>
<div class="info">
<h4><a href="/Note.aspx?id=$Id$">$Title$</a></h4>
<div class="text">$Body$</div>
<p class="readmore">&raquo; <a href="/Note.aspx?id=$Id$">阅读全文</a></p>
<ul class="subinfo">
<li><span class="time">$AddTime$</span>
<span class="stat"><a href="/Note.aspx?id=$Id$">阅读 ($ViewCount$)</a><span class="pipe">|</span>
<a href="/Note.aspx?id=$Id$&#comment">评论($CommentCount$)</a><span class="pipe">|</span>
推荐 ($PushCount$)</span></li></ul></div></div></li>
