<div id="toc">
	<ul id="tabs">
		<li id="tabPhotos" class="inactivetab"><a href="#">$Ownername$的相册</a></li>
		<li id="tabSet" class="inactivetab"></li>
		<li id="Status" class="status"><a href="javascript:showCreate();" $isme$>[新建相册]</a></li>
	</ul>
</div>
<div id="chcontent">
	<div id="chcontent_body" class="ch_content">
		<div id="chPhotos" style="display: none; visibility: hidden;">
			<div class="page" id="PageUp">
			</div>
			<ul id="Albumitem">$Albumitem$</ul>
			<div class="page" id="PageDown">
			</div>
		</div>
		<div id="chSet" style="display: none; visibility: hidden;">
			<fieldset><legend id="fl_neworedit">新建相册</legend>
			<ul>
			<li>相册名称:<input id="f_pname" type="text" /><span id="msgf_pname"></span></li>
			<li>拍摄地点:<input id="f_plocal" type="text" /><span id="msgf_plocal"></span></li>
			<li>相册说明:<br /><textarea id="f_pdesc"></textarea><span id="msgf_pdesc"></span></li>
			<li>访问权限:$Showlevelselect$<span id="msgf_pshowlevel"></span></li>
			<li>
			<input type="button" id="f_pok" value="确认提交" class="subbutton" />
			<input type="button" value="取消" class="subbutton" onclick="pCancle();" />
			</li>
			</ul>
			</fieldset>
		</div>
<div class="inputbox">
<input type="button" value="$Ownername$的页面" class="subbutton" onclick="window.location.href='/User.aspx?userid=$Ownerid$window.location.href='" />
<input type="button" value="新建相册" class="subbutton" onclick="showCreate();" $isme$ />
<input id="HdPage" type="hidden" value="1" />
<input id="HdCount" type="hidden" value="$Count$" />
<input id="HdEveryPage" type="hidden" value="6" />
<input id="HdOwnerid" type="hidden" value="$Ownerid$" />
<input id="HdAlbumid" type="hidden" value="0" />
</div>
</div></div>
<script type="text/javascript">
InitTabP("Photos");
InitTabP("Set");
InitTabC($Tabs$,PhotosChangeTab);
setPhototab($Tabs$);
</script>

