<li id="Items$Id$">
	<div class="people">
		<p class="image">
			<a href="/User.aspx?userid=$Userid$" target="_blank">
				<img src="$Userface$" alt="$Userface$ ($Username$)" /></a>
		</p>
		<div class="info">
			<strong><a href="/User.aspx?userid=$Userid$" target="_blank">$Username$</a> </strong>
			<ul>
				<li>大学：<a href="/Search.aspx?action=show&uid=$uid$">$University$</a> <span class="pipe">
					-</span> <a href="/Search.aspx?action=show&xid=$xid$&uid=$uid$">$Xueyuan$</a></li>

				<li>入学：<a href="/Search.aspx?action=show&grade=$Grade$&uid=$uid$">$Grade$</a></li>
			</ul>
		</div>
		<ul class="actions">
			<li><a href="javascript:AddFriend($Userid$,$Id$)">加为好友</a></li>
			<li><a href="/Message.aspx?mode=compose&Toname=$enUsername$&ToId=$Userid$" target="_blank">发小条</a></li>
		</ul>
	</div>
</li>
