<div class="notes">
	[*为必填 其它选填] 完善以下学校信息，我们将帮你找到你的<strong>同学</strong>... 
</div>
<h4>大学信息</h4>
<div class="required">
	<label for="gender">
		<em>*</em>可见度：</label>
	<div style="padding-left:160px">
<span id="school_slider_BoundControl"></span><input type="text" value="$Source.get_item("SchoolInfoShowLevel")" id="school_slider"/>
    </div>
</div>
<div class="required">
	<label for="University"><em>*</em>大学：</label>
	<input type="text" id="University" value="$source.get_item("University")" readonly="readonly" /> - <a href="/group.aspx?id=127567&">申请更改</a><span id="msgUniversity"></span>
</div>
<div class="required">
	<label for="Xueyuan"><em>*</em>学院：</label>
	<input type="text" id="Xueyuan" value="$source.get_item("Xueyuan")" readonly="readonly" />
	- <a href="/group.aspx?id=127567&">申请更改</a><span id="msgXueyuan"></span>
</div>
<div class="required">
	<label><em>*</em>入学年份：</label>
	<select id="Grade" class="select">
#foreach($year in [1990 .. $DateTime.Now.Year])
#each
	#if($source.get_item("Grade")==$year)
	<option value="$year" selected="selected">$year年</option>
	#else
	<option value="$year">$year年</option>
	#end

#end
	</select>
	<div id="msgGrade"></div>
</div>
<div class="required">
	<label for="Qinshi">宿舍：</label>
	<select id="Qinshi" class="select"><option value="0">其它</option>
#Component(Option with "Source=$ChHelper.DataCache.QinShiRows($source.get_item("University"))" "selected=$source.get_item("Qinshi_id")" "text=qinshi")
	
	
	</select>
	<span id="msgQinshi"></span>
</div>
<div style="display:none">
<h4>高中信息</h4>
<div class="required">
	<label for="Highschool">高中：</label>
	<input type="text" id="Highschool" value="$source.get_item("Highschool")" />
</div>
<h4>初中信息</h4>
<div class="required">
	<label for="Juniorschool">初中：</label>
	<input type="text" id="Juniorschool" value="$Source.get_item("Juniorschool")" />
</div>
</div>

<div class="actions">
	<input class="subbutton" type="button" value="保存修改" onclick="SubmitInfo('school');" />
</div>