#capturefor(title) 隐私安全 #end
<h2>隐私安全</h2>
<h3>说明</h3>
	<p>本条款适用于$ChHelper.ChSite.BaseConfig.Title网站经营者及用户,若文中有与国家或用户所在地法律相抵触的,应以国家或用户所在地法律为准</p>
	<p>&nbsp;</p>
<h3>对于网站</h3>
							<p>对于正常的访问与操作行为,本网站不与干预(对于违反网站规定的,我们会做相应处理)</p>
							<p>本网站承诺,在用户未同意情况下不会将用户资料出示给第三方(除活动用途外 如:办理会员卡)</p>
							<p>&nbsp;</p>
<h3>对于用户</h3>
							<p>用户可以以正常访问方式浏览和操作网站</p>
	<p>用户不得在未得到其它用户同意的情况下,公开其它用户的信息与资料</p>
	<p>用户不得转让或出售网站账号</p>
	<p>&nbsp;</p>
<h3>如何保证隐私</h3>
	<p>用户可以在登录后 点击上方导航中&quot;设置&quot;-&gt;&quot;隐私设置&quot; 进行修改全部隐私设置</p>
	<p>也可以通过 &quot;设置&quot;-&gt;&quot;基本信息/学校信息/联系方式&quot;&nbsp; 修改部分信息的隐私级别</p>
	<p>&nbsp;</p>
	<h3>联系我们</h3>
	<p>如果您对隐私条款有任何疑问,可以通过以下方式联系我们Email: <a href="mailto:chsword@126.com">chsword@126.com</a></p>