#capturefor(title) 记事本 #end
#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/Reply.css" rel="stylesheet" type="text/css" />
<link href="${ChHelper.ChSite.StylePath}/blog.css" rel="stylesheet" type="text/css" />
#end
#capturefor(javascript)
<script src="/WebServices/NoteBook.asmx/js" type="text/javascript"></script>
<script src="/JavaScript/PageSet.js" type="text/javascript"></script>
<script src="/Editor/fckeditor.js" type="text/javascript"></script>
<script src="/JavaScript/Editor.js" type="text/javascript"></script>
<script src="/JavaScript/LogBook.js" type="text/javascript"></script>
<script src="/JavaScript/Reply.js" type="text/javascript"></script>
#end
#*
*日志一篇
*#

#if($Flash.msg)
<div class="notes">$msg</div>
#else
<div class="picon">
	<div class="pimage"><a href="/User.aspx?userid=${note.get_item("Userid")}&"><img src="${ChHelper.Path.GetFace_Small($note.get_item('Userid'))}" alt="${note.get_item("Name")}"></a></div>
	<div class="pname">
	    <h4>${note.get_item("Name")}</h4>
	    <div class="pother"><a href="/User.aspx?userid=${note.get_item("Userid")}&">查看页面</a>
	    #if ($note.get_item("Userid") != $ChHelper.ChUser.Userid)
| <a href="javascript:SendMessage(${note.get_item("Userid")},'${note.get_item("Name")}')">传小条</a>
	    #end
	    </div>
	</div>
</div>
<div class="blogcontainer">
	<div id="logbook" class="blogmain">
#*
开始正文
*#
#component(NoteList with "source=$rows" "template=full")
#*正文完*#
<input type="hidden" id="Hdisrich" value="$ChHelper.ChUser.isAdmin" />
<script type="text/javascript">
function setpage(nowpage){
	$get("HdPage").value=nowpage;
	PageMethods.GetReplyList(nowpage,$get("HdEveryPage").value,${noteid},1,function(result){
		if(result!=null&&result!=""){
			$("talk").innerHTML=result;
			pagefun();
		}
	});
}
</script>
##回复列表开始
	#component(CommentList with "type=1" "Logid=$noteid" "CountId=CommentCount")
##回复列表结束
		<div id="mycomment">
			<div id="editorForm" style="margin-left: 3px;">
				<h5>
					发表评论：</h5>
				<div id="simpleEditPan">
					<textarea id="TBody" onkeydown="CtrlEnterReply(${noteid},event);" rows="7" tabindex="1"
						class="cmtbody"></textarea>
				</div>
				<input id="Bup" type="button" value="留言" onclick="ReplyLogBook(${noteid});" class="subbutton"
					tabindex="2" title="[完成后可按 Ctrl + 回车 提交]" />
				<input type="button" onclick="document.location=$('xml_back').href;" class="subbutton" value="返回" />
			</div>
		</div>
	</div>
	<div class="gadget">
	<div>
	<h4>最近看过该日志的人</h4>
	#component(ViewList with "type=5" "everyrow=2" "ownerid=$noteid")
#*作用:看过此日志的成员的列表*#
	</div>
	</div>
</div>
#end
#*
转为VM解析 2008年 1 月25
UI修改:2007 9 30 邹健
创建:2007 9 30 邹健
作用:显示日志页
*#