#if($msg)
$msg
#else
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>上传</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="/Javascript/Framework.js" type="text/javascript"></script>
    <style type="text/css">
        *{ margin:0; padding:0; }
    </style>
    <script type="text/javascript">
	    var uploadSelect = function(){
			var path=new String($get("file1").value.toLowerCase());
			if(path.endsWith(".jpg")||path.endsWith(".png")||path.endsWith(".gif")||path.endsWith(".jpeg")){
				parent.uploading($get("frmUpload").value,'$itemID');
				$get("frmUpload").submit();
		    }else{
				alert("您选择的文件类型不正确");
		    }
	    };
    </script>
</head>
<body>
    <form id="frmUpload" method="post" enctype="multipart/form-data" action="">
        <input type="file" runat="server" id="file1" name="file1" onchange="uploadSelect();" />	    
    </form>
</body>
</html>
#end
#*
上传相册中的照片
*#