<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <!--no have use-->
    <add name="DbEntities" connectionString="metadata=res://*/Aef.CHSNS.csdl|res://*/Aef.CHSNS.ssdl|res://*/Aef.CHSNS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=CHSNS.Database;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>