<fieldset class="formset">
    <legend>ĞŞ¸ÄÃÜÂë</legend>
    <form action="" method="post">
        <p>
            <label>¾ÉÃÜÂë</label><input type="password" name="oldpassword" id="oldpassword" />
        </p>
        <p>
            <label>¾ÉÃÜÂë</label><input type="password" name="password" id="password" />
        </p>
        <p>
            <label>¾ÉÃÜÂë</label><input type="password" name="repassword" id="repassword" />
        </p>
        <p>
            <input type="submit" value="Ìá½»" />
        </p>
    </form>
</fieldset>
@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
}