<fieldset class="formset">
    <legend>пч╦дцэбК</legend>
    <form action="" method="post">
        <p>
            <label>╬ицэбК</label><input type="password" name="oldpassword" id="oldpassword" />
        </p>
        <p>
            <label>╬ицэбК</label><input type="password" name="password" id="password" />
        </p>
        <p>
            <label>╬ицэбК</label><input type="password" name="repassword" id="repassword" />
        </p>
        <p>
            <input type="submit" value="лА╫╩" />
        </p>
    </form>
</fieldset>
