<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CHSNS.SQLServerImplement.Properties.Settings.CHSNS_DatabaseConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=CHSNS.Servicebase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CHSNS.SQLServerImplement.Properties.Settings.CHSNS_Database_DB_0d1a7df4_999c_4ef4_8074_83a3fe2a0ffdConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=CHSNS.Database_DB_0d1a7df4-999c-4ef4-8074-83a3fe2a0ffd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>