#capturefor(title) 在线客服 #end
#capturefor(javascript)
<script type="text/javascript" src="/JavaScript/PageSet.js"></script>
<script type="text/javascript" src="/WebServices/Services.asmx/js"></script>
<script type="text/javascript" src="/JavaScript/Services.js"></script>
#end

<div class="sbox">
	<h4>在线客服</h4>
	<div class="page" id="PageUp">
	</div>
	<ol id="Serviceslist">
	#foreach($item in $table)
	#each
		<li>
			<div class="info">
				<span class="author">
				#if($item.get_item("userid")<999)
				<a href="mailto:$item.get_item("email")">$item.get_item("email"):</a>
				#else
				<a href="/User.aspx?userid=$item.get_item("userid")&">$item.get_item("name"):</a>
				#end
				</span><span class="show$item.get_item("status")">
				#if($item.get_item("status")==1)
				解决中
				#elseif($item.get_item("status")==2)
				解决中
				#elseif($item.get_item("status")==3)
				已解决
				#elseif($item.get_item("status")==255)
				已解决
				#else
				未解决
				#end
				</span>
				<span class="time">$item.get_item("sendtime").ToString("MM-dd HH:mm")</span>
			</div>
			<div class="text">$item.get_item("body")</div>
			<div class="result_div">
			#if($item.get_item("status")>=100)
			${item.get_item("answer")}${item.get_item("answertime").ToString("MM-dd HH:mm")}
			#end
			#if($session.get_item("status")>199)
			<a href="admin.ashx?id=$item.get_item("id")">回复</a>
			#end
			</div>
		</li>
	#end
	</ol>
	<div class="page" id="PageDown">
	</div>
	<input id="HdPage" type="hidden" value="1" />
	<input id="HdCount" type="hidden" value="$Count" />
	<input id="HdEveryPage" type="hidden" value="20" />
	<div class="inputpart">
		<ul>
		#if(!$session.Contains("userid"))
		<li><label runat="server" id="Le">Email:
		<input id="temail" type="text" class="cmtbody" /></label><br />
		</li>
		#else
			$HtmlHelper.InputHidden("temail","")
		#end
			<li>
				<label>
					<h4>
						提交问题: (请直接输入问题即可)</h4>
					<textarea id="tbody" rows="2"></textarea></label></li>
			<li>
				<input type="button" value="提交问题" onclick="SendQuestion();" />
				<span class="discription">(每条最多4000字)</span> </li>
		</ul>
	</div>
</div>
<script type="text/javascript">
InitServices();
</script>
#*
创建:邹健 2007 12 24
最后修改: 2007 12 24
功能:在线客服页面
*#
