#capturefor(title) 今日日志 #end
#if($msg)
<div class="notes">	$msg</div>
#end

#foreach($item in $rows )
#beforeall
<table cellspacing="0" cellpadding="4" border="0"
style="color:#333333;border-collapse:collapse;">
<tr style="color:White;background-color:#5D7B9D;font-weight:bold;">
<th scope="col">标题</th>
<th scope="col">时间</th>
<th scope="col">隐私级别</th>
</tr>
#before
<tr style="color:#284775;background-color:White;">
<td>
#each
<a href="/Note.aspx?id=${item.id}&#if($item.groupid>0)groupid=${item.groupid}&#end" target="_blank">
$item.title
</a>

<a href="/User.aspx?userid=${item.userid}&" target="_blank">
作者链接
</a>
</td><td>
$item.addtime.ToString("hh:mm:ss")
</td><td>
$item.ispost
#after
</td>
</tr>
#afterall
</table>
#nodata
无数据
#end

#component(Pager with "source=$rows")


<br />
隐私级别: 200只有作者可见,150作者及作者好友,100作者同一公司或同校,50所有与作者相同Field
       0所有人