<div class="notes">对您的个人信息进行设置</div>
<div class="required">
<label>谁能浏览我的页面？</label>
#set( $asl = ${source.get_item("AllShowLevel")})
#component(ShowLevel with "id=AllShowLevel" "selected=$asl")
</div>
<div class="required">
<label>谁能浏览我的个人信息？</label>
#set( $pisl = ${source.get_item("PersonalInfoShowLevel")})
#component(ShowLevel with "id=PersonalInfoShowLevel" "selected=$pisl")
</div>
<div class="required">
<label>谁能浏览我的头像？</label>
#set( $fsl = ${source.get_item("FaceShowLevel")})
#component(ShowLevel with "id=FaceShowLevel" "selected=$fsl")
</div>
<div class="actions" style="padding:10px 160px;">
<input value="保存修改" tabindex="4" type="button" class="subbutton" onclick="ChangeShowLevel();" />
</div>

