<div class="notes">
	<h4>安全密码设置提示</h4>
	<ul>
		<li>请使用英文字母加数字或符号的组合密码。</li>
		<li>请不要使用你的个人信息作为密码的内容。如生日、手机号码等。</li>
		<li>请不要使用与登录邮箱相同的密码。</li>
		<li>建议每隔一段时间更新一次帐号的密码。</li>
	</ul>
</div>
<div class="required">
	<label for="oldpassword">旧密码：</label>
	<input maxlength="20" size="32" tabindex="1" value="" id="oldpassword" class="inputtext" type="password" />
</div>
<div class="required">
	<label for="newpassword">新密码：</label>
	<input maxlength="20" size="32" tabindex="2" value="" id="newpassword" class="inputtext" type="password" />
</div>
<div class="required">
	<label for="newpassword2">重输新密码：</label>
	<input maxlength="20" size="32" tabindex="3" value="" id="newpassword2" class="inputtext" type="password" />
</div>
<div class="actions" style="padding:10px 160px;">
	<input class="subbutton" value="保存修改" tabindex="4" type="button" onclick="ChangePassword();" />
</div>

