	<div>
		<label for="Groupname">群 名 称：</label>
		<input type="text" id="Groupname" value="$source.get_item("Groupname")" />
	</div>
	<div>
		<label for="Publish">群公告栏：</label><br />
		<textarea class="textarea" id="Publish" cols="45" rows="10">$source.get_item("Publish")</textarea>
	</div>
	<div>
		<label>群 权 限：</label><span class="select"><select id="Showlevel">
#set ( $sls = [["公开(任何人都可以看贴和发贴)",0],["半公开(任何人可以看贴，成员可以发贴)",4],["私有(只有成员才能看贴，发贴)",8]])
#foreach($item in $sls)
#each
<option value="$item.get_item(1)" #if($item.get_item(1)==$source.get_item("showlevel")) selected="selected" #end>$item.get_item(0)</option>
#end
		</select></span>
	</div>
#if($source.get_item("GroupClass")!=1)
#set ( $jls = [["无需批准",0],["需要管理员批准",4],["只能由管理员邀请",8]])
<div>
<label>成员加入：</label><span class="select"><select id="Joinlevel">
#foreach($item in $jls)
#each
<option value="$item.get_item(1)" #if($item.get_item(1)==$source.get_item("joinlevel")) selected="selected" #end>$item.get_item(0)</option>
#end
</select></span>
</div>
#end
	<div class="operation">
		<input onclick="SetGroup($t.Setting);" value="保存设置" type="button"/>
	</div>