<?xml version="1.0" encoding="utf-8"?>
<ArrayOfListItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ListItem>
    <Selected>false</Selected>
    <Text>基本信息</Text>
    <Value>baseinfo</Value>
  </ListItem>
  <!--<ListItem>
    <Selected>false</Selected>
    <Text>学校信息</Text>
    <Value>school</Value>
  </ListItem>
  <ListItem>
    <Selected>false</Selected>
    <Text>联系方式</Text>
    <Value>contact</Value>
  </ListItem>
  <ListItem>
    <Selected>false</Selected>
    <Text>个人信息</Text>
    <Value>personal</Value>
  </ListItem>-->
  <ListItem>
    <Selected>false</Selected>
    <Text>魔法盒</Text>
    <Value>magicbox</Value>
  </ListItem>
  <ListItem>
    <Selected>false</Selected>
    <Text>上传头像</Text>
    <Value>upload</Value>
  </ListItem>
</ArrayOfListItem>