<?xml version="1.0" encoding="utf-8"?>
<ArrayOfListItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ListItem>
    <Selected>true</Selected>
    <Text>男</Text>
    <Value>true</Value>
  </ListItem>
  <ListItem>
    <Selected>false</Selected>
    <Text>女</Text>
    <Value>false</Value>
  </ListItem>
</ArrayOfListItem>