<style>
#Admin_menu_Accordion a{color:black}
.accordionLink {font-weight:bold;}
.accordionHeader,.accordionHeaderSelected{padding-top:2px}
.accordionHeader{
color: #0954A6;  cursor: pointer; height:28px;width:150px;
filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;
background-image:url(${ChHelper.ChSite.StylePath}/images/Menutab.jpg);
background-repeat: no-repeat; }
*html .accordionHeader {right:-1px;}
.accordionHeaderSelected {color: #0954A6;
cursor: pointer; line-height:28px; height:28px;width:150px;
background-image:url(${ChHelper.ChSite.StylePath}/images/Menutab.jpg);
background-repeat: no-repeat; }
*html .accordionHeaderSelected {right:-2px;}

.accordionContent ul li{height:20px;list-style:none;padding-left:0px}
.accordionContent ul{padding-left:16px;}

</style>
<div id="Admin_menu_Accordion">
##常规设置
<div class="accordionHeaderSelected"><a href="#" class="accordionLink">常规设置</a></div>
<div class="accordionContent">
<ul>
<li>$url.link("基本设置", "%{controller='common',action='config'}","%{target='mainFrame'}")</li>
<li>$url.link("注册与访问", "%{controller='common',action='regandvisit'}","%{target='mainFrame'}")</li>
<li>$url.link("公告", "%{controller='common',action='publish'}","%{target='mainFrame'}")</li>

</ul>
</div>
##用户管理
<div class="accordionHeader"><a href="#" class="accordionLink">用户管理</a></div>
<div class="accordionContent">
<ul>
<li>$url.link("新用户", "%{action='user'}","%{target='mainFrame'}")</li>
<li>$url.link("实名审核", "%{action='isstar'}","%{target='mainFrame'}")</li>
<li>$url.link("用户列表", "%{area='admin',controller='usermanage',action='userlist'}","%{target='mainFrame'}")</li>
</ul>
</div>
##群组管理
<div class="accordionHeader"><a href="#" class="accordionLink">群组管理</a></div>
<div class="accordionContent">
<ul>
<li>$url.link("群组管理", "%{action='group'}","%{target='mainFrame'}")</li>
##<li>$url.link("审核班级", "%{action='applyclass'}","%{target='mainFrame'}")</li>
</ul>
</div>
##日志管理
<div class="accordionHeader"><a href="#" class="accordionLink">日志管理</a></div>
<div class="accordionContent">
<ul>
<li>$url.link("日志管理", "%{action='note'}","%{target='mainFrame'}")</li>
<li>$url.link("新发日志", "%{action='note_today'}","%{target='mainFrame'}")</li>
</ul>
</div>
##Field管理
#*<div class="accordionHeader"><a href="#" class="accordionLink">Field管理</a></div>
<div class="accordionContent">
<ul>
<li>$url.link("Field管理", "%{Controller='Field',action='field_index'}","%{target='mainFrame'}")</li>
<li>$url.link("添加MiniField", "%{Controller='Field',action='field_addmini'}","%{target='mainFrame'}")</li>
</ul>
</div>*#
##界面风格
<div class="accordionHeader"><a href="#" class="accordionLink">界面风格</a></div>
<div class="accordionContent">
<ul><li>$url.link("添加界面风格", "%{area='admin',controller='common',action='AddStyle'}","%{target='mainFrame'}")</li>

</ul>
</div>
##数据库
<div class="accordionHeader"><a href="#" class="accordionLink">数据库</a></div>
<div class="accordionContent">
<ul><li>$url.link("执行SQL语句", "%{Controller='sql',action='execute'}","%{target='mainFrame'}")</li>

</ul>
</div>
##实用工具
<div class="accordionHeader"><a href="#" class="accordionLink">工具</a></div>
<div class="accordionContent">
<ul>
<li>$url.link("磁盘空间", "%{action='space'}","%{target='mainFrame'}")</li>
<li>$url.link("缓存与服务", "%{action='basic'}","%{target='mainFrame'}")</li>
</ul>
</div>

##all over
</div>
<script type="text/javascript">
$create(AjaxControlToolkit.AccordionBehavior,{
"ContentCssClass":"accordionContent",
 //"FramesPerSecond":4,
 "HeaderCssClass":"accordionHeader",
 "HeaderSelectedCssClass":"accordionHeaderSelected",
 "id":"Profile_AccordionExtender",
 "requireOpenedPane":false,"suppressHeaderPostbacks":true}, null, null,
 $("Admin_menu_Accordion"));
</script>