<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="CHSNSDBLink" connectionString="metadata=res://*/DbEntities.csdl|res://*/DbEntities.ssdl|res://*/DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Chsword-server;Initial Catalog=CHSNS.Database;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.web>
		<sessionState mode="InProc" timeout="20" cookieless="UseCookies" cookieName=".ChswordCookies">
			<providers>
				<clear/>
			</providers>
		</sessionState>
		<httpRuntime maxRequestLength="20480"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/></assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="CHSNS"/>
				<add namespace="CHSNS.Controllers"/>
				<add namespace="CHSNS.Model"/>
				<add namespace="CHSNS.Models"/>
				<add namespace="CHSNS.ViewModel"/>
				<add namespace="CHSNS.Helper"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Data"/>
				<add namespace="System.Collections.Generic"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asbx"/>
			<add verb="*" path="*.asbx" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
		<customErrors mode="Off"/>
		<authentication mode="Forms"/>
		<webServices>
			<wsdlHelpGenerator href="DefaultWsdlHelpGenerator.aspx"/>
		</webServices>
		<authorization>
			<allow users="?" verbs="Post,Get"/>
		</authorization>
	</system.web>
	<!--<ajaxjson>
    <scripting>
      <webServices>
        <jsonSerialization>
          <converters>
            <add name="DataSetConverter" type="Microsoft.Web.Script.Serialization.Converters.DataSetConverter, Chsword.Ajax"/>
            <add name="DataRowConverter" type="Microsoft.Web.Script.Serialization.Converters.DataRowConverter, Chsword.Ajax"/>
            <add name="DataTableConverter" type="Microsoft.Web.Script.Serialization.Converters.DataTableConverter, Chsword.Ajax"/>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </ajaxjson>-->
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="MvcHttpHandler"/>
			<remove name="UrlRoutingHandler"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/></system.webServer>
</configuration>
