#capturefor(css)
<link href="${ChHelper.ChSite.StylePath}/group.css" rel="stylesheet" type="text/css" />
#end
#capturefor(javascript)
<script src="/Scripts/Client/TextboxWatermark.js" type="text/javascript"></script>
#end
#capturefor(title) 创建班级 #end

#if($Rows.Count<1 || $Grade==0)
<div class="notes">您还未设置您的学校信息,请<a href="/EditMyInfo.aspx?mode=school">设置</a></div>
#else
<div id="ClassResult" class="ch_content">
<div class="notes">注意每个人只能加入一个大学班级,如有特殊情况请与<a href="/Services.aspx">管理员</a>联系
<!--br />注意:新建班级时将扣除你50积分,如通过审核将归还到您的账户,如审核未通过将不退还--></div>
<h3>创建班级</h3>
	<ul style="margin-left:20%">
		<li>	
		<label>班级名称:</label><input id="ClassName" name="ClassName" type="text" value=""/><span id="msgclassname">请加入年份区分 如：05计算机1班</span>  
		</li>
		<li>	
		<label>大学:</label>$University
		</li>
		<li>
		<label>院系:</label>$Xueyuan
		</li>
		<li>
		<label>入学年份:</label>$Grade年
		</li>
		<li>
		<input type="button" value="创建" class="subbutton" onclick="CreateClass();" />
		</li>	
	</ul>
	<div class="notes">提示：如果学院或入学年份信息不符，请修改 <a href="/EditMyInfo.aspx">修改资料</a></div>
</div>
<script type="text/javascript">
InitEditW("ClassName","请输入班级名");
function CreateClass(){
  if(W_Match("ClassName","请输入班级名")) {//与水印匹配
       showMessage("msgclassname","请输入班级名");
        return;
    }
    var _=$v("ClassName");
	PageMethods.CreateClass(_,function(_r){
	        if(isNum(_r)){
	            alertEx("创建班级成功,请等待管理员审核","window.location='/'");
			}
	        else{
				alertEx(_r);
			}
		},onfail);
}
</script>
#end