<?xml version="1.0" encoding="UTF-8"?>
<root>
<item id="0" name="" tree="" />
<item id="1" name="鼠" tree="子" />
<item id="2" name="牛" tree="丑" />
<item id="3" name="虎" tree="寅" />
<item id="4" name="兔" tree="卯" />
<item id="5" name="龙" tree="辰" />
<item id="6" name="蛇" tree="巳" />
<item id="7" name="马" tree="午" />
<item id="8" name="羊" tree="未" />
<item id="9" name="猴" tree="申" />
<item id="10" name="鸡" tree="酉" />
<item id="11" name="狗" tree="戌" />
<item id="12" name="猪" tree="亥" />
</root>
