<?xml version="1.0" encoding="utf-8" ?>
<root>
    <item name="ReplyList_ReplyButton">
        <![CDATA[<span class="reply">
<a href="#userTalk" onclick="onReplyClick('$Username$','$Userid$'); return false;">回复</a>
</span>]]>
    </item>
    <item name="ReplyList_RemoveButton">
        <![CDATA[<span class="remove">
<a href="#" onclick="onDeleteReply($Id$,$Userid$);return false;">删除</a>
</span>]]>
    </item>
    <item name="ReplyList_SeeButton">
        <![CDATA[$Ctrl$ <span id="comment_see_$Id$" class="setsee"><a href="javascript:onSeeReply($Id$);">置为已读</a></span>]]>
    </item>
    <item name="ReplyList_SeeAll">
        <![CDATA[<span class="setsee"><a href="javascript:onSeeAll();">全部置为已读</a></span>]]>
    </item>
</root>