<?xml version="1.0" encoding="utf-8" ?>
<Config>
    <item name="Style">Default</item>
    <item name="SerivesOnline">在线客服</item>
    <item name="SystemUpdateLog">系统更新日志</item>
    <item name="AboutUs">关于本站</item>
    <item name="PrivacyClaim">隐私声明</item>
    <item name="Help">帮助</item>
    <item name="SerivesGroup">成幻小组</item>
    <item name="BeiAn">备案号</item>
    <item name="CopyRight">2005－2008</item>
    <item name="WebName">佳木斯大学校友录</item>
    <item name="Webname">佳木斯大学校友录</item>
    <item name="WebText">友天下之友</item>
    <item name="WebUrl">www.cnjmsu.com</item>
    <item name="WebUserR">会员</item>
    <item name="Div"><![CDATA[<span class="pipe">|</span>]]></item>
    <item name="UserLink"><![CDATA[<a href="/User.aspx?userid={0}&amp;">{1}</a>]]></item>
    <item name="loglink"><![CDATA[<a href="/Note.aspx?id={0}&amp;groupid={2}&amp;">{1}</a>]]></item>
<item name="grouplink"><![CDATA[<a href="/Group.aspx?id={0}&amp;">{1}</a>]]></item>
<item name="replylink"><![CDATA[<a href="ReplyList.aspx?userid={0}&amp;#{1}">{2}</a>]]></item>
    <item name="Option"><![CDATA[<option value="{0}">{1}</option>]]></item>
    <item name="Option_unSelected"><![CDATA[ value="{0}"]]></item>
    <item name="Option_Selected"><![CDATA[ value="{0}" selected="selected"]]></item>
    <item name="Public_Utility">
        <![CDATA[
    <a href="/">首页</a> <a href="javascript:addBookmark('{0} - {1}','{2}');">加入收藏</a> <a href="/Help">帮助</a>
    ]]></item>
    <item name="script">
        <![CDATA[<script type="text/javascript">{0}</script>]]></item>
</Config>