<?xml version="1.0" encoding="utf-8" ?>
<root>
	<item>
		<![CDATA[&#((1[120])|([678][0-9]))]]>
	</item>
	<item>
		<![CDATA[/\*[^/]*\*/]]>
	</item>

	<item>
		<![CDATA[\\00\d{2}]]>
	</item>
	<item><![CDATA[<\/?base[^>]*>]]></item>
	<item><![CDATA[<\/?basefont[^>]*>]]></item>
	<item><![CDATA[<\/?bgsound[^>]*>]]></item>
	<item><![CDATA[<\/?blink[^>]*>]]></item>
	<item><![CDATA[<\/?body[^>]*>]]></item>
	<item><![CDATA[<\/?frame[^>]*>]]></item>
	<item><![CDATA[<\/?frameset[^>]*>]]></item>
	<item><![CDATA[<\/?head[^>]*>]]></item>
	<item><![CDATA[<\/?html[^>]*>]]></item>
	<item><![CDATA[<\/?ilayer[^>]*>]]></item>
	<item><![CDATA[<\/?layer[^>]*>]]></item>
	<item><![CDATA[<\/?link[^>]*>]]></item>
	<item><![CDATA[<\/?meta[^>]*>]]></item>
	<item><![CDATA[<\/?object[^>]*>]]></item>
	<item><![CDATA[<\/?title[^>]*>]]></item>
	<item>
		<![CDATA[<\/?script[^>]*>]]>
	</item>
	<item><![CDATA[<\/?iframe[^>]*>]]></item>
	<item><![CDATA[<\/?frameset[^>]*>]]></item>
	<!--onclick类的事件触发-->
	<item><![CDATA[on[^=]+=]]></item>
	<!--CSS-->
	<item><![CDATA[expression]]></item>
	<!--脚本伪协议/文件类协议/第三方协议-->
	<item><![CDATA[ms-its:]]></item>
	<item><![CDATA[mhtml:]]></item>
	<item><![CDATA[data:]]></item>
	<item><![CDATA[vbscript:]]></item>
	<item><![CDATA[javascript:]]></item>
	<item><![CDATA[firefoxurl:]]></item>
	<item><![CDATA[mocha:]]></item>
	<item><![CDATA[livescript:]]></item>
	<!--Flash-->
	
</root>
