<?xml version="1.0" encoding="utf-8" ?>
<root>
	<!--验证邮件-->
    <item name="verify" ba="0网站 1网址 2用户名 3id 4code">
        <![CDATA[
<HTML><HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=GB2312"></HEAD>
<BODY style="border-width:0px" >您好：<br>
&nbsp;&nbsp;&nbsp;&nbsp;欢迎您到{0}(<a href='{1}' target=_blank>{1}</a>
)注册。<br>
&nbsp;&nbsp;&nbsp;&nbsp;
您的用户名是：<b>{2}</b>,用户ID为：<b>{3}</b>,您的验证码为<b>{4}</b>。<br>
如果您已经关闭注册页面,请到
<a href="{1}/reg/verify.ashx?userid={3}&code={4}">{1}/reg/verify.ashx?userid={3}&code={4}</a> 验证<br>
如果您看不到链接或链接地址不正确，请将以下网址复制到浏览器地址栏中，进行访问
<b>{1}/reg/verify.ashx?userid={3}&code={4}</b>
只需要您几分钟时间，将会认识更多的朋友。
如果您需要什么帮助请到
<a href="{1}/services/index.ashx">{1}/services/index.ashx</a>
我们将在一个工作日内为您解答。
</BODY></HTML>
		]]>
    </item>
	<item name="invite" bz="0是朋友名,1是自定义信息 2是网址 3 是网站名">
		<![CDATA[
	   你好：
		你的朋友{0}邀请你加入{3}^^
		我们的网址是{2}
		{1}
	   ]]></item>
  
</root>