<?xml version="1.0" encoding="utf-8" ?>
<root>
    <item name="Newrss_item">
        <![CDATA[
<tr>
<td class="title"><a href="/Note.aspx?id={2}&Groupid={0}&amp;">{3}</a></td>
<td class="time">{4}</td>
<td class="group"><a href="/group.aspx?id={0}&amp;">{1}</a></td></tr>]]>
    </item>
    <item name="Request">
        <![CDATA[<li><a href="/FriendRequest.aspx"><span class="count">{0}</span>个人想加你为好友</a></li>]]>
    </item>
	<item name="unReadMessage"><![CDATA[<a href="/Message.aspx?mode=inbox&amp;">您有{0}个未读条</a>]]></item>
    <item name="Gather" bz="0是访问数,1是留言 2是用户id">
        <![CDATA[<li>共{0}人访问</li><li><a href="/ReplyList.aspx?userid={2}&amp;">共有{1}条留言</a></li>]]>
    </item>
    <item name="Event_Admin">
        <![CDATA[
    	<div id="Event_Admin">
		<h4>管理员</h4>
		<ul>
		
		    <a href="/admin/admin_default.aspx">管理后台</a>
		    <a href="/admin/admin_cache.aspx">清理缓存</a>
<a href="/Application/Kfc2008/admin.aspx">肯德基管理</a>
		</ul>
	</div>
    ]]></item>
    <item name="Event_NewRss">
    <![CDATA[<div id="NewRss" class="imgnew">
<h4>群订阅[<a href="/GroupList.aspx?tabs=0&amp;">more</a>]</h4>

<div id="readlist">
<table>
<thead>
<tr>
<th class="title">主题</th><th class="time">发表时间</th><th class="group">所在群</th>
</tr>
</thead>
<tbody id="chNewRss">{0}</tbody>
</table>
</div>
</div>]]></item>
    <item name="Event_Reply" bz="{0}内容">
        <![CDATA[<div id="NewReply"><h4>最新回复</h4><ul id="chNewReply">{0}</ul></div>]]>
    </item>
    <item name="Event_Reply_Item" bz="{0}userid {1}replyid {2}username {3}提示信息 {4}time">
        <![CDATA[<li><p>
		<a class="cfrom" href="/User.aspx?userid={0}&amp;">{2}</a>
		在
		{1}
		<span class="prefix">
		{3}</span>
		<span class="sufix">{4}</span>
	</p></li>]]></item>
	
	
    <item name="My_Event" bz="{0}子项">
        <![CDATA[<div><h4>$Username$的动向</h4><ul id="Profile_Event">{0}</ul></div>]]>
    </item>

    <item name="Event_Event" bz="{0}内容">
        <![CDATA[<div id="Event_Event">
        <h4>我朋友的动向</h4>
        <ul id="Profile_Event">{0}</ul></div>]]>
    </item>
    <item name="My_Event_Showtext" bz="1:{0}id2name3text4time">
        <![CDATA[<li class="icon_showtext" id="Profile_Event_item{4}">
        <a href="/User.aspx?userid={0}">{1}</a> 更改了状态 <a href="/User.aspx?userid={0}">{2}</a> 于 {3}
        {5}</li>]]>
    </item>
    <item name="My_Event_Note" bz="2:{0}id1name2Actionid3app4time">
        <![CDATA[<li class="icon_note" id="Profile_Event_item{5}">
        <a href="/User.aspx?userid={0}">{1}</a> 发表日志
        <a href="/Note.aspx?id={2}">{3}</a> 于 {4}
        {6}</li>]]>
    </item>
    <item name="My_Event_Ablum" bz="2:{0}id1name2Actionid3app4time">
        <![CDATA[<li class="icon_album" id="Profile_Event_item{5}">
        <a href="/User.aspx?userid={0}&amp;">{1}</a> 建立像册
        <a href="/Album.aspx?albumid={2}&amp;userid={0}&amp;">{3}</a> 于 {4}
        {6}</li>]]>
    </item>
    <item name="My_Event_AddGroup" bz="2:{0}id1name2Actionid3app4time">
        <![CDATA[<li class="icon_group" id="Profile_Event_item{5}">
        <a href="/User.aspx?userid={0}&amp;">{1}</a> 建立群
        <a href="/group.aspx?id={2}&amp;">{3}</a> 于 {4}
        {6}</li>]]>
    </item>
    <item name="My_Event_AddSuper" bz="2:{0}id1name2app3time">
        <![CDATA[<li class="icon_supernote" id="Profile_Event_item{4}">
        <a href="/User.aspx?userid={0}&amp;">{1}</a> 发布视频
        <a href="/SuperNote.aspx?userid={0}&amp;">{2}</a> 于 {3}
        {5}</li>]]>
    </item>
    <item name="My_Event_AddGroupUser" bz="6:{0}id1name2id3gname4time">
        <![CDATA[<li class="icon_groupuser" id="Profile_Event_item{5}">
        <a href="/User.aspx?userid={0}&amp;">{1}</a> 加入群
        <a href="/Group.aspx?id={2}&amp;">{3}</a> 于 {4}
        {6}</li>]]>
    </item>
    <item name="My_Event_Remove" bz="6:{0}id1name2id3gname4time">
        <![CDATA[<a class="icon_close" href="javascript:Event_Remove({0});">&nbsp;&nbsp;</a>]]>
    </item>

    <item name="prompt_2">
        <![CDATA[<div class="boxcont">请填写您的个人信息</div>]]>
    </item>
    <item name="prompt_3"> <![CDATA[<div class="boxcont">请填写您的学校信息</div>]]></item>
    <item name="prompt_5"> <![CDATA[<div class="boxcont">加入您所在的班级 得到更多权限</div>]]></item>
    <item name="prompt_6"> <![CDATA[<div class="sysnote"><h4>最新功能应用</h4><p>列车时刻查询系统---编辑左侧菜单然后选择【寻找更多程序到我的应用程序列表】</p></div>]]></item>
    <item name="prompt_8"> <![CDATA[<div class="sysnote"><h4>最新功能应用</h4><p>列车时刻查询系统---编辑左侧菜单然后选择【寻找更多程序到我的应用程序列表】</p></div>]]></item>
    <item name="prompt_200"></item>
    <item name="prompt_255"></item>
</root>