<?xml version="1.0" encoding="utf-8" ?>
<root>
  <item name="None_Friend" zs="好友列表为空时显示">
    <![CDATA[<li class="notes">您还没有加任何人为好友 , 快搜搜你的好友
    <input type="button" onclick="location='/Search.aspx';" value="Go-&gt;" class="subbutton" /> </li>]]>
  </item>
  <item name="None_Friend_Other" zs="好友列表为空时显示">
    <![CDATA[<li class="notes">用户列表为空</li>]]>
  </item>
</root>
