<?xml version="1.0" encoding="utf-8" ?>
<root>
    <item name="Toppic"><![CDATA[<img src="/images/note_top.gif" alt="置顶" />]]></item>
    <item name="Timeformat"><![CDATA[MM-dd hh:mm]]></item>
    <item name="Odd"><![CDATA[odd]]></item>
    <item name="Even"><![CDATA[even]]></item>
    <item name="None_MyGrouplist">
        <![CDATA[<li class="notes">您还没有加入任何群 , 快快寻找志同道合的人吧
  <input type="button" onclick="location='/Search.aspx?tabs=1';" value="Go-&gt;" class="subbutton" />
  </li>]]>
    </item>
    <item name="None_Class">
        <![CDATA[<ul><li class="notes">您还没有加入任何班级,请先加入班级,或自己创建一个吧
  </li></ul>]]>
    </item>
    <item name="Class_Item" bz="0 id 1 name">
        <![CDATA[<li>{3} &gt; {2}级 &gt; <a href="/group.aspx?id={0}&" target="_blanl">{1}</a> <a href="javascript:JoinClass({0})">加入</a></li>]]>
    </item>
    <item name="Class_CreateWait" bz="0 id 1 name">
        <![CDATA[[您创建的] {1} [正在审核] <a href="javascript:Class_Cancle({0})">取消</a>]]>
    </item>
    <item name="Class_JoinWait" bz="0 id 1 name">
        <![CDATA[[您已经申请加入] {1} [正在审核] <a href="javascript:Class_Cancle({0})">取消</a>]]>
    </item>
    <item name="SchoolInfo_None">
        <![CDATA[<div class="notes">您还未设置您的学校信息,请<a href="/EditMyInfo.aspx?mode=school">设置</a></div>]]>
    </item>
    <item name="member_join">
    <![CDATA[<div>
		<label>成员加入：</label><span class="select"><select id="Joinlevel">
		<option value="0" $selectedJoin0$>无需批准</option>
		<option value="4" $selectedJoin4$>需要管理员批准</option>
		<option value="8" $selectedJoin8$>只能由管理员邀请</option>
		</select></span>
	</div>]]>
</item>
</root>
<!--邹健 2007 10 12-->