<?xml version="1.0" encoding="utf-8" ?>
<root>
    <item name="RegSuccess"><![CDATA[注册成功,您的ID为:{0},您的登录名为{0}或{1}]]></item>
    <item name="RegSuccessEmailtitle"><![CDATA[恭喜您注册成功]]></item>
    <item name="RegSuccessEmailbody"><![CDATA[注册成功您的ID为:{0}]]></item>

    <item name="ErrEvenReg"><![CDATA[error:这个邮箱已经注册过了]]></item>
    <item name="ErrUnknow"><![CDATA[error:未知错误]]></item>
    <item name="ErrunReg"><![CDATA[error:请添写正确信息]]></item>
    <item name="Err_Login_frozen"><![CDATA[您的帐号已经被冻结，如有疑问请 <a href=\"/Services.aspx\">联系管理员</a>]]></item>
    <item name="Edit_School_From"><![CDATA[<option value="{0}">{0}年</option>]]></item>
    <item name="Edit_School_To"><![CDATA[<option value="{0}" selected="selected">{0}年</option>]]></item>
</root>