<?xml version="1.0" encoding="utf-8" ?>
<root>

    <item name="Groupback" zs="0是群id 1是群名">
        <![CDATA[<div>返回 <a id="xml_back" href="/Group.aspx?id={0}&">{1}</a></div>]]>
    </item>
    <item name="Noteback" zs="0是人id 1是人名">
        <![CDATA[<div>&nbsp;>>返回 <a id="xml_back" href="/User.aspx?userid={0}&">{1}的页面</a></div>]]>
    </item>
    <item name="Delete"><![CDATA[<a href="javascript:DeleteLogBook({0},{1});">删除</a>]]></item>
    <item name="Edit"><![CDATA[<a href="javascript:showEditNote();">编辑</a>]]></item>
    <item name="Push">
        <![CDATA[<span class="div">|</span>
		<span id="logpush">推荐(<span id="PushCount$Id$">$PushCount$</span>) <span id="PushCommand">
			{0}</span>
			</span>]]>
    </item>
    <item name="Pushed"><![CDATA[我已推荐过。]]></item>
    <item name="unPush"><![CDATA[<a href="javascript:PushLogBook({0});">我来推荐！</a>]]></item>
    <item name="Totop"><![CDATA[<span class="div">|</span> <a id="notetop" href="javascript:Note_top();">将本文置顶</a>]]></item>
    <item name="unTotop"><![CDATA[<span class="div">|</span> <a id="notetop" href="javascript:Note_untop();">取消置顶</a>]]></item>
    <item name="None_MyNote">
        <![CDATA[<li class="notes">您还没有使用过您的记事本 , 与朋友一起分享你的心情吧
  <input type="button" onclick="Tabs().set_activeTabIndex(2);" value="Go-&gt;" class="subbutton" />
  </li>]]>
    </item>
    <item name="None_MyNote_Other">
        <![CDATA[<li class="notes">记事本的主人还没有写过任何内容.</li>]]>
    </item>
    <item name="SuperNone_Delete">
        <![CDATA[<a href="javascript:SuperNote_Remove({0});">删除</a>]]>
    </item>
    <item name="SuperNone_NoTitle">
        <![CDATA[未命名]]>
    </item>
    <item name="SuperNone_NoPic">
        <![CDATA[/images/video.png]]>
    </item>
    <item name="Super_New">
        <![CDATA[<li><div>
        <a href="/SuperNote.aspx?userid={1}&#SuperNoteItem_{2}">{0}</a></div>
        </li>]]>
    </item>
    <item name="Super_systemcategory">
        <![CDATA[<a href="javascript:showcategory({0},'{1}')">{1}(共{2})</a> ]]>
    </item>
</root>