<?xml version="1.0" encoding="utf-8" ?>
<!--2007年11月15日 访问权限设置
列表为空时为无限制
其余为白名单
-->
<root>
	<item name="default"></item>
    <item name="ad"></item>
	<item name="user" description="我的页面">|5|6|7|8|200|255|</item>
	<item name="note" description="日志">|5|6|7|8|200|255|</item>
	<item name="supernote" description="视频">|5|6|7|8|200|255|</item>
	<item name="supernoterandom" description="supernoterandom.aspx">|5|6|7|8|200|255|</item>
	<item name="newlogbook" description="最新日志列表">|5|6|7|8|200|255|</item>
	<item name="friend" description="好友">|5|6|7|8|200|255|</item>
	<item name="random" description="随便看看">|8|200|255|</item>
	<item name="friendrequest" description="好友请求列表">|5|6|7|8|200|255|</item>
	<item name="replylist" description="回复列表">|5|6|7|8|200|255|</item>
	<item name="search" description="搜索页"></item>
	<item name="grouplist" description="群列表">|5|6|7|8|200|255|</item>
	<item name="setting" description="用户设置">|2|3|4|5|6|7|8|200|255|</item>
	<item name="createclass" description="创建班级">|5|6|7|8|200|255|</item>
	<item name="classlist" description="班级列表">|5|6|7|8|200|255|</item>
	<item name="editmyinfo" description="编辑我的信息">|1|2|3|4|5|6|7|8|200|255|</item>
	<item name="group" description="Group">|4|5|6|7|8|200|255|</item>
	<item name="managegroup" description="Group">|8|200|255|</item>
	<item name="message" description="Group">|2|3|4|5|6|7|8|200|255|</item>
	<item name="notebook" description="Group">|5|6|7|8|200|255|</item>
	<item name="event" description="Group">|5|6|7|8|200|255|</item>
	<item name="services" description="Group"></item>
	<item name="registrator" description="Group"></item>
	<item name="invite">|5|6|7|8|200|255|</item>
	<item name="application" description="应用程序">|5|6|7|8|200|255|</item>
	<item name="allapplication" description="应用程序列表">|5|6|7|8|200|255|</item>
	<item name="photos" description="相册列表">|5|6|7|8|200|255|</item>
	<item name="album" description="相册页">|5|6|7|8|200|255|</item>
    <item name="albumrandom" description="相册页">|5|6|7|8|200|255|</item>
	<item name="admin_class" description="管理员使用的"></item>
</root>