<?xml version="1.0" encoding="utf-8" ?>
<root>
  <item name="Album_None">
    <![CDATA[<li class="notes">您还没有建立相册 , Show出你自己吧
  <input type="button" onclick="showCreate();" value="Go-&gt;" class="subbutton" />
  </li>]]>
  </item>
   <item name="Photo_None">
    <![CDATA[<li style="width:100%" class="notes">您还没上传照片 , Show出你自己吧
  <input type="button" onclick="ShowUpload();" value="Go-&gt;" class="subbutton" />
  </li>]]>
  </item>
   <item name="photo_noright">
    <![CDATA[<li style="width:100%" class="notes">相册内没有照片,或您没有权限查看这些照片</li>]]>
  </item>
  <item name="Album_None_Other">
    <![CDATA[<li class="notes">相册的主人还没有公开任何相册哦.</li>]]>
  </item>
  <item name="Upload_Successed">
    <![CDATA[<ul><li><a href="#"><img src="{0}" alt="" style="max-width:400px;" /></a></li></ul>]]>
  </item>
  <item name="Photoitemul">
    <![CDATA[</ul><ul>$Photoitem$]]>
  </item>
  <item name="Album_edit">
    <![CDATA[
    <li>|</li>
  <li>
    <a href="javascript:ShowEdit({0});">编辑</a>
  </li><li>|</li><li>
    <a href="javascript:DeleteAlbum({0});">删除</a>
  </li>]]>
  </item>
  <item name="Photo_edit">
    <![CDATA[
  <a href="javascript:Photo_Cover({0});">设为封皮</a>
  <a href="javascript:DeletePhoto({0},'{4}');">删除</a>
  ]]></item>
</root>