<?xml version="1.0" encoding="utf-8" ?>
<root>
    <item name="Showtext" bz="0text1time">
        <![CDATA[<div>$isonline$<!--在线-->	
    <span id="Profile_ShowTextTime">{1}</span> 在 {0}
    </div>]]>
    </item>
    <item name="Showtext_None" bz="0text1time">
        <![CDATA[<a href="javascript:Edit_Showtext();">什么也没有做</a>]]>
    </item>

    <item name="profile_item" bz="0text1time">
        <![CDATA[<li><span>{0}：</span><span>{1}</span></li>]]>
    </item>
    <item name="profile_search" bz="0text1time">
        <![CDATA[<a href="/Search.aspx?{1}">{0}</a>]]>
    </item>
    <item name="Showtext_None2" bz="0text1time=">
        <![CDATA[什么也没有做]]>
    </item>

    <item name="Showtext_Edit" bz="0text1time">
        <![CDATA[<span id="Profile_ShowText">{0}</span>
    <input type="text" id="Profile_ShowText_Edit" maxlength="12" style="display:none"/>]]>
    </item>
    <item name="Showtext_Edit_None" bz="0text1time">
        <![CDATA[<div> <span id="Profile_ShowText">什么也没做</span>
    <input type="text" id="Profile_ShowText_Edit" maxlength="12" style="display:none"/>
    <span id="Profile_ShowTextTime"></span>
    </div>]]>
    </item>
    <item name="Profile_Isstar" bz="0text1time">
        <![CDATA[<a href="#" title="实名用户" id="Profile_Isstar">&nbsp;&nbsp;&nbsp;</a>]]>
    </item>
    <item name="Online">
        <![CDATA[<a href="#" title="用户在线">在线</a>]]>
    </item>
    <item name="Offline">
        <![CDATA[]]>
    </item>
    <item name="Isstar_Admin_Add">
        <![CDATA[<a href="javascript:Admin_Isstar_Add($Userid$);">置为实名</a>]]>
    </item>
    <item name="Isstar_Admin_Remove">
        <![CDATA[<a href="javascript:Admin_Isstar_Remove($Userid$);">置为非实名</a>]]>
    </item>
    <item name="slider" bz="我的什么的那个滑块">
    <![CDATA[<input type="text" value="{1}" id="{0}_slider"/>
<input type="hidden" value="{1}" id="{0}_old"/>
    <span id="{0}_slider_BoundControl">拖动设置隐私级别[低-&gt;高]</span>
    ]]>
    </item>
    <item name="initprofile_script" bz="slider的初始化脚本">
    <![CDATA[Init_Profile("{0}");]]>
    </item>
    <item name="accordion_script" bz="slider的初始化脚本">
    <![CDATA[Init_accordion();]]>
    </item>
    <item name="accordion_init_script" bz="slider的初始化脚本">
    <![CDATA[
$create(AjaxControlToolkit.AccordionBehavior, {"ContentCssClass":"accordionContent",
 "FramesPerSecond":40,
 "HeaderCssClass":"accordionHeader",
 "HeaderSelectedCssClass":"accordionHeaderSelected",
 "id":"Profile_AccordionExtender",
 "requireOpenedPane":false,"suppressHeaderPostbacks":true}, null, null, $get("Profile_Accordion"));
]]>
    </item>
<item name="profile_grouplist"><!--我的页面的我加入的群-->
    <![CDATA[<div class="box"><h3>$Username$加入的群</h3><div class="mypadding">{0}</div></div>]]></item>
<item name="profile_grouplink"><![CDATA[<a href="/Group.aspx?id={0}&amp;">{1}</a> | ]]></item>
</root>