<?xml version="1.0" encoding="UTF-8"?>
<root>
<item id="1" name="北京" />
<item id="2" name="湖北" />
<item id="3" name="广东" />
<item id="4" name="上海" />
<item id="5" name="天津" />
<item id="6" name="重庆" />
<item id="7" name="辽宁" />
<item id="8" name="江苏" />
<item id="9" name="四川" />
<item id="10" name="陕西" />
<item id="11" name="河北" />
<item id="12" name="山西" />
<item id="13" name="河南" />
<item id="14" name="吉林" />
<item id="15" name="黑龙江" />
<item id="16" name="内蒙古" />
<item id="17" name="山东" />
<item id="18" name="安徽" />
<item id="19" name="浙江" />
<item id="20" name="福建" />
<item id="21" name="云南" />
<item id="22" name="江西" />
<item id="23" name="湖南" />
<item id="24" name="广西" />
<item id="25" name="西藏" />
<item id="26" name="贵州" />
<item id="27" name="海南" />
<item id="28" name="新疆" />
<item id="29" name="甘肃" />
<item id="30" name="宁夏" />
<item id="31" name="青海" />
<item id="32" name="澳门" />
<item id="33" name="香港" />
<item id="34" name="台湾" />
</root>