<?xml version="1.0" encoding="utf-8" ?>
<routing>
  <rule>
    <pattern>^(/logtag/([\w\W]+).ashx)$</pattern>
    <replace><![CDATA[ /tags/logtag.ashx?title=$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/(\d+)/blog/index.ashx)$</pattern>
    <replace><![CDATA[ /blog/index.ashx?userid=$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/logout.aspx)(.)*$</pattern>
    <replace><![CDATA[ /home/logout.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/user.aspx)(.)*$</pattern>
    <replace><![CDATA[ /user/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/superNoteRandom.aspx)(.)*$</pattern>
    <replace><![CDATA[ /SuperNote/randomVideo.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/SuperNote.aspx)(.)*$</pattern>
    <replace><![CDATA[ /SuperNote/video.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/FriendRequest.aspx)(.)*$</pattern>
    <replace><![CDATA[ /user/FriendRequest.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Friend.aspx)(.)*$</pattern>
    <replace><![CDATA[ /user/Friend.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Random.aspx)(.)*$</pattern>
    <replace><![CDATA[ /user/random.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Search.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Search/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Upload.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Upload/Face.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/PhotoUpload.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Upload/Photo.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/ManageGroup.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Group/Manage.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/GroupList.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Group/list.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Group.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Group/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/CreateClass.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Group/CreateClass.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/ClassList.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Group/ClassList.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/ReplyList.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Comment/List.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/EditMyinfo.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Profile/Edit.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Setting.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Profile/Setting.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Help/SetPassword.aspx)(.)*$</pattern>
    <replace><![CDATA[ /home/SetPassword.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Help/GetCode.aspx)(.)*$</pattern>
    <replace><![CDATA[ /home/getcode.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/NewLogBook.aspx)(.)*$</pattern>
    <replace><![CDATA[ /note/new.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/note.aspx)(.)*$</pattern>
    <replace><![CDATA[ /note/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/notebook.aspx)(.)*$</pattern>
    <replace><![CDATA[ /note/book.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/message.aspx)(.)*$</pattern>
    <replace><![CDATA[ /message/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/AllApplication.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Application/allapps.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Application.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Application/myapp.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Photos.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Album/list.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/AlbumRandom.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Album/Random.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/Album.aspx)(.)*$</pattern>
    <replace><![CDATA[ /Album/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/services.aspx)(.)*$</pattern>
    <replace><![CDATA[ /services/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/invite.aspx)(.)*$</pattern>
    <replace><![CDATA[ /home/invite.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/event.aspx)(.)*$</pattern>
    <replace><![CDATA[ /event/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/ad.aspx)(.)*$</pattern>
    <replace><![CDATA[ /ad/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/index.aspx)(.)*$</pattern>
    <replace><![CDATA[ /home/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/default.aspx)$</pattern>
    <replace><![CDATA[ /home/index.ashx?$2 ]]></replace>
  </rule>
  <rule>
    <pattern>^(/registrator.aspx)$</pattern>
    <replace><![CDATA[ /reg/start.ashx?$2 ]]></replace>
  </rule>
</routing>