<?xml version="1.0" encoding="utf-8" ?>
<!--成幻校友录包含文件script配置文件
Script即为该页包含之head中添加的Script文件
bodyscript即为该页包含之body中添加的bodyscript文件
Name 属性为该页的[主文件名]
LE:2007 10 6
-->
<root>
	<page name="default">
	</page>
	<page name="user" description="我的页面">
        <bodyscript src="/WebServices/Profile.asmx/js" />
        <bodyscript src="/WebServices/Comment.asmx/js" />

        <bodyscript src="/JavaScript/Client/AccordionBehavior.js" />

        <bodyscript  src="/JavaScript/Profile.js"/>
		<bodyscript  src="/JavaScript/Reply.js"/>
		<bodyscript  src="/JavaScript/Friend.js"/>
		<bodyscript  src="/JavaScript/LogBook.js"/>
	</page>
	<page name="note" description="日志 现为note.aspx">
        <bodyscript src="/WebServices/NoteBook.asmx/js" />
        <bodyscript src="/WebServices/Comment.asmx/js" />
		<bodyscript src="/JavaScript/PageSet.js" />
		<bodyscript src="/Editor/fckeditor.js" />
		<bodyscript src="/JavaScript/Editor.js" />
		<bodyscript  src="/JavaScript/LogBook.js" />
		<bodyscript  src="/JavaScript/Reply.js" />
	</page>
	<page name="supernote" description="supernote.aspx">
    	<bodyscript src="/WebServices/NoteBook.asmx/js" />
		<bodyscript src="/JavaScript/PageSet.js" />
	</page>
    <page name="supernoterandom" description="supernoterandom.aspx">
        <bodyscript src="/WebServices/NoteBook.asmx/js" />
    </page>
	<page name="newlogbook" description="最新日志列表">
    <bodyscript src="/WebServices/NoteBook.asmx/js" />
    <script src="/JavaScript/PageSet.js" />
		<script src="/JavaScript/LogBook.js"/>
	</page>
	<page name="friend" description="好友">
    <script src="/JavaScript/PageSet.js" />
		<script src="/javascript/friend.js" description="" />
	</page>
	<page name="ramdom" description="随便看看">
		<script src="/javascript/friend.js" description="" />
	</page>
	<page name="friendrequest" description="好友请求列表">
    <script src="/JavaScript/PageSet.js" />
		<script src="/javascript/friend.js" description="" />
	</page>
	<page name="replylist" description="回复列表">
	<bodyscript src="/WebServices/Comment.asmx/js" />
    <bodyscript src="/JavaScript/PageSet.js"  />
    <bodyscript src="/javascript/reply.js" description="" />
	</page>
	<page name="search" description="搜索页">
       		<bodyscript src="/WebServices/Search.asmx/js" />
      		<bodyscript src="/WebServices/AutoSelect.asmx/js" />
		<bodyscript src="/JavaScript/Client/Tabs.js" />
		<bodyscript src="/JavaScript/Client/TextboxWatermark.js" />
		<bodyscript src="/JavaScript/PageSet.js" description="" />
       		<bodyscript src="/javascript/friend.js" description="" />
		<bodyscript src="/javascript/search.js" description="" />
	</page>
	<page name="grouplist" description="群列表">
        <script src="/JavaScript/PageSet.js" description="" />
        <bodyscript src="/WebServices/Group.asmx/js" />
		<bodyscript src="/JavaScript/Client/Tabs.js" />
		<bodyscript src="/JavaScript/Client/TextboxWatermark.js" />
		<bodyscript src="/JavaScript/GroupList.js" />
		<bodyscript src="/JavaScript/GroupUser.js" />
	</page>
	<page name="setting" description="用户设置">
		<bodyscript src="/JavaScript/Client/Tabs.js" />
		<bodyscript src="/JavaScript/Client/TextboxWatermark.js" />
		<bodyscript src="/JavaScript/Setting.js" />
	</page>
	<page name="createclass" description="创建班级">
		<bodyscript src="/JavaScript/Client/TextboxWatermark.js" />
	</page>
	<page name="classlist" description="班级列表">
		<bodyscript src="/JavaScript/GroupUser.js" />
	</page>
	<page name="editmyinfo" description="编辑我的信息">
<bodyscript src="/WebServices/Profile.asmx/js" />
		<bodyscript src="/JavaScript/Client/AutoCompleteBehavior.js" />
		<bodyscript src="/JavaScript/Client/Tabs.js" />
		<bodyscript src="/JavaScript/Client/CalendarBehavior.js" />
        <bodyscript src="/JavaScript/Client/DragDropScripts.js" />
        <bodyscript src="/JavaScript/Client/SliderBehavior.js" />
    <bodyscript src="/JavaScript/upload.js" />
		<bodyscript src="/JavaScript/UploadPhoto.js" />
		<bodyscript src="/JavaScript/EditMyInfo.js" />
	</page>
	<page name="group" description="Group">
    <bodyscript src="/WebServices/NoteBook.asmx/js" />
		<script src="/JavaScript/PageSet.js" description="" />
		<bodyscript src="/JavaScript/Editor.js" />
		<bodyscript src="/JavaScript/Group.js" />
		<bodyscript src="/JavaScript/GroupUser.js" />
		<bodyscript src="/JavaScript/LogBook.js" />
		<bodyscript src="/Editor/fckeditor.js" />
	</page>
	<page name="managegroup" description="Group">
        <bodyscript src="/WebServices/Group.asmx/js" />
		<bodyscript src="/JavaScript/Client/Tabs.js" />
        <bodyscript src="/JavaScript/upload.js" />
		<bodyscript src="/JavaScript/UploadPhoto.js" />
		<bodyscript src="/JavaScript/ManageGroup.js" />
	</page>
	<page name="message" description="Group">
    <bodyscript src="/WebServices/Message.asmx/js" />
		<bodyscript src="/JavaScript/Client/Tabs.js" />
		<bodyscript src="/JavaScript/PageSet.js" />
		<bodyscript src="/JavaScript/Message.js" />
	</page>
	<page name="notebook" description="Group">
		<bodyscript src="/JavaScript/Client/Tabs.js" />
		<bodyscript src="/JavaScript/PageSet.js" />
		<bodyscript src="/JavaScript/Notebook.js" />
		<bodyscript src="/Editor/fckeditor.js" />
		<bodyscript src="/JavaScript/Editor.js" />
		<bodyscript src="/WebServices/NoteBook.asmx/js" />
	</page>
	<page name="event" description="Group">
	</page>
	<page name="services" description="Group">
		<bodyscript src="/JavaScript/PageSet.js" />
		<bodyscript src="/WebServices/Services.asmx/js" />
		<bodyscript src="/JavaScript/Services.js" />
	</page>
	<page name="registrator" description="Group">
        <bodyscript src="/WebServices/Identity.asmx/js" />
		<bodyscript src="/WebServices/AutoSelect.asmx/js" />
		<bodyscript src="/JavaScript/Registrator.js" />
	</page>

  <page name="application" description="应用程序">
    <bodyscript src="/WebServices/Application.asmx/js"/>
    <bodyscript src="/JavaScript/Application.js" />
    <bodyscript src="/JavaScript/Client/DraggableListItemBehavior.js" />
    <bodyscript src="/JavaScript/Client/DragDropScripts.js" />
    <bodyscript src="/JavaScript/Client/DropWatcherBehavior.js"  />
  </page>
  <page name="allapplication" description="应用程序列表">
    <bodyscript src="/JavaScript/Application.js" />
    <bodyscript src="/JavaScript/Client/Tabs.js" />
  </page>
  <page name="photos" description="相册列表">
    <bodyscript src="/WebServices/Photos.asmx/js"/>
    <bodyscript src="/JavaScript/Client/Tabs.js" />
    <bodyscript src="/JavaScript/PageSet.js" />
    <bodyscript src="/JavaScript/Photos.js" />
  </page>
  <page name="album" description="相册页">
    <bodyscript src="/WebServices/Photos.asmx/js"/>
    <bodyscript src="/JavaScript/Client/Tabs.js" />
    <bodyscript src="/JavaScript/PageSet.js" />
    <bodyscript src="/JavaScript/upload.js" />
    <bodyscript src="/JavaScript/Photos.js" />
  </page>
    <page name="admin_class" description="管理员使用的">
        <bodyscript src="/WebServices/Group.asmx/js" />
    </page>
  <page name="adminuser" description="管理员使用的">
    <bodyscript src="/JavaScript/Adminuser.js" />
  </page>
</root>