<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BaseConfig>
    <IsSoureFace>false</IsSoureFace>
    <StyleList>default|foxblue|facebook|</StyleList>
    <Style>facebook</Style>
    <Path>/</Path>
    <CookieName>userInfo</CookieName>
    <IsMustField>true</IsMustField>
    <Domain>5field.com</Domain>
    <SmtpPort>25</SmtpPort>
    <SmtpPassword>123456</SmtpPassword>
    <SmtpUser>chsword</SmtpUser>
    <SmtpServer>smtp.126.com</SmtpServer>
    <SenderName>重典</SenderName>
    <SenderEmail>chsword@126.com</SenderEmail>
    <MasterEmail>chsword@126.com</MasterEmail>
    <Copyright>2005-2008</Copyright>
    <Number>黑ICP备07501485号</Number>
    <Url>http://www.5field.com</Url>
    <Title>CHSNS#</Title>
  </BaseConfig>
  <RegVisitConfig>
    <IsEmailValidate>false</IsEmailValidate>
    <IsAllowReg>true</IsAllowReg>
  </RegVisitConfig>
  <Publish>
    <Body>网站正式开通</Body>
    <AddTime>2008-02-26T13:25:08.4375+08:00</AddTime>
    <IsShow>true</IsShow>
  </Publish>
</SiteConfig>