<?xml version="1.0" encoding="UTF-8"?>
<root>
<item id="0" name="" />
<item id="1" name="白羊" />
<item id="2" name="金牛" />
<item id="3" name="双子" />
<item id="4" name="巨蟹" />
<item id="5" name="狮子" />
<item id="6" name="处女" />
<item id="7" name="天秤" />
<item id="8" name="天蝎" />
<item id="9" name="射手" />
<item id="10" name="摩羯" />
<item id="11" name="水瓶" />
<item id="12" name="双鱼" />
</root>