<?xml version="1.0" encoding="utf-8" ?>
<!--成幻校友录包含文件配置文件,css即为该页包含之CSS Script即
为该页包含之Script文件 Name 属性为该页的名称
-->
<root>
	<page name="default">
	<link href="/css/main.css" />
	</page>
	<page name="ad">
	<link href="/css/main.css" />
	</page>
	<page name="user" description="我的页面">
		<link href="/css/ch_Reply.css" description="" />
		<link href="/css/home.css" description="" />
		<link href="/css/ch_mypage.css" />
        <link href="/css/profile.css" />
	</page>
	<page name="note" description="日志">
		<link href="/css/ch_Reply.css" description="" />
		<link href="/css/blog.css" />
	</page>
	<page name="newlogbook" description="最新日志列表">
		<link href="/css/ch_friend.css" description="" />
		<link href="/css/blog.css" description="" />
		<script src="/JavaScript/LogBook.js" description="" />
	</page>
	<page name="friend" description="好友">
		<link href="/css/ch_friend.css" description="" />
	</page>
	<page name="random" description="随便看看">
		<link href="/css/ch_friend.css" description="" />
	</page>
	<page name="friendrequest" description="好友请求列表">
		<link href="/css/ch_friend.css" description="" />
	</page>
	<page name="replylist" description="回复列表">
		<link href="/css/ch_Reply.css" description="" />
		<link href="/css/ch_mypage.css" description="" />
	</page>
	<page name="search" description="搜索页">
		<link href="/css/ch_friend.css" description="" />
		<link href="/css/group.css" description="" />
	</page>
	<page name="grouplist" description="群列表">
		<link href="/css/group.css" description="" />
	</page>
	<page name="setting" description="用户设置">
	</page>
	<page name="createclass" description="创建班级">
		<link href="/css/group.css" description="" />
	</page>
	<page name="classlist" description="班级列表">
		<link href="/css/group.css" description="" />
	</page>
	<page name="editmyinfo" description="编辑我的信息">
<link href="/css/ch_mypage.css" />
		<link href="/css/ch_Calendar.css" description="" />
	</page>
	<page name="notebook" description="记事本">
		<link href="/css/blog.css" description="" />
	</page>
  <page name="group" description="群个页">
    <link href="/css/group.css" description="" />
  </page>
	<page name="managegroup" description="群管理">
		<link href="/css/group.css" description="" />
	</page>
	<page name="message" description="站内小条">
		<link href="/css/msg.css" description="" />
	</page>
	<page name="event" description="首页">
		<link href="/css/system.css" description="" />
	</page>
	<page name="services" description="Group">
	</page>
	<page name="registrator" description="Group">
		<link href="/css/register.css" description="" />
		<link href="/css/mini.css" description="" />
	</page>
  <page name="invite" description="邀请">
    <link href="/css/invite.css" description="" />
  </page>
  <page name="application" description="应用程序">
    <link href="/css/appli.css" description="" />
  </page>
  <page name="allapplication" description="Group">
  </page>
  <page name="photos" description="我的相册">
    <link href="/css/photo.css" description="" />
  </page>
  <page name="album" description="相片列表">
    <link href="/css/photo.css" description="" />
  </page>
    <page name="albumrandom" description="查看相册">
        <link href="/css/photo.css" description="" />
    </page>
	<page name="supernote" description="视频">
		<link href="/css/video.css" description="" />
	</page>
    <page name="supernoterandom" description="视频">
        <link href="/css/video.css" description="" />
    </page>
    <page name="adminuser" description="视频">
    </page>
</root>